.inner_section {
    align-items: flex-start;
}

.img-section {
    background-position: center;
    width: 575px;
    height: 375px;
    /* float: right; */
}


.img-nations {
    width: 500px;
    height: 350px;
}

.one-of {
    width: 500px;
    height: 320px;
}

.img-margin {
    margin: 20px 0px 40px 40px;
}

.section-header {
    margin-bottom: 75px;
}

.img-double {
    height: 350px;
    position: relative;
}

.img-smaller {
    margin: 0;
    width: 441px;
    height: 275px;
    position: absolute;
    top: 50px;
    right: 577px;
    z-index: 3;
}

.img-bigger {
    margin: 0;
    width: 600px;
    height: 350px;
    position: absolute;
    right: 25px;
}

.welcome {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 50px;
}

.one {
    width: 100%;
}

.geography {
    background-image: url('../img/new/2.jpg');
    background-size: cover;
    margin: 0 0 30px 0;
}

.climate1 {
    background-image: url('../img/new/3.jpg');
    background-size: cover;
}

.climate2 {
    background-image: url('../img/new/4.jpg');
    background-size: cover;
}

@media(max-width: 1280px) {
    .section-first {
        display: flex;
        flex-direction: column;
    }
    .img-section {
        margin: 0px auto;
    }
}

@media(max-width: 1155px) {
    .img-smaller {
        margin: 15px auto;
        position: relative;
        top: unset;
        right: unset;
    }
    .img-bigger {
        margin: 0 auto;
        position: relative;
        right: unset;
    }
    .img-double {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 1060px) {
    .section-header {
        margin: 0;
    }
}

@media(max-width: 750px) {
    .one {
        width: 500px !important;
        height: 300px !important;
    }
}

@media(max-width: 670px) {
    .img-smaller {
        width: 100%;
    }
    .img-bigger {
        width: 100%;
    }

    .img-section {
        height: 150px;
        width: 250px;
    }
}

@media(max-width: 650px) {
    .img-section {
        width: 100%;
        height: 200px;
    }
}

@media(max-width: 550px) {
    .welcome {
        font-size: 14px;
    }
}

@media(max-width: 520px) {
    .img-section {
        max-width: 250px;
    }
    .one {
        max-width: 250px;
    }
    .img-nations {
        max-width: 250px;
    }
    .img-small {
        max-width: 100px !important;
        max-height: 50px !important;
    }
}
