.inner_section {
    align-items: flex-start;
}

.gap .article-text__title {
    margin-top: 30px;
}

.img-section {
    background-position: center center;
    width: 575px;
    height: 375px;
}

.img-nations {
    width: 500px;
    height: 350px;
    background-position: center;
}

.one-of {
    width: 500px;
    height: 320px;
    background-position: center;
}

.img-margin {
    margin: 20px 0px 40px 40px;
}

.section-header {
    margin-bottom: 75px;
}

.img-double {
    height: 350px;
    position: relative;
}

.img-smaller {
    margin: 0;
    width: 441px;
    height: 275px;
    position: absolute;
    top: 50px;
    right: 577px;
    z-index: 3;
}

.img-bigger {
    margin: 0;
    width: 600px;
    height: 350px;
    position: absolute;
    right: 25px;
}

.welcome {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 50px;
}

.one {
    width: 100%;
    background-position: center;
}

.geography {
    background-image: url('../img/section1/1.jpg');
    background-size: cover;
    margin: 0 0 30px 0;
}

.climate1 {
    background-image: url('../img/section1/2.jpg');
    background-size: cover;
}

.climate2 {
    background-image: url('../img/section1/3.jpg');
    background-size: cover;
}

@media(max-width: 1280px) {
    .section-first {
        display: flex;
        flex-direction: column;
    }
    .img-section {
        margin: 0px auto;
    }
}

@media(max-width: 1155px) {
    .img-smaller {
        margin: 15px auto;
        position: relative;
        top: unset;
        right: unset;
    }
    .img-bigger {
        margin: 0 auto;
        position: relative;
        right: unset;
    }
    .img-double {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 1060px) {
    .section-header {
        margin: 0;
    }
    .article-text__title {
        margin: 30px auto 15px 0;
    }
}

@media(max-width: 750px) {
    .one {
        width: 500px !important;
        height: 300px !important;
    }
    .img-bigger {
        width: 100%;
    }
}

@media(max-width: 670px) {
    .img-smaller {
        width: 100%;
    }

    .img-section {
        height: 150px;
        width: 250px;
    }
}

@media(max-width: 650px) {
    .img-section {
        width: 100%;
        height: 200px;
    }
}

@media(max-width: 550px) {
    .welcome {
        font-size: 14px;
    }
}

@media(max-width: 520px) {
    .img-section {
        max-width: 400px;
    }
    .one {
        max-width: 400px;
    }
    .img-nations {
        max-width: 250px;
    }
    .geography {
        max-height: 150px;
        max-width: 260px;
    }
}

@media(max-width: 350px) {
    .article-text {
        padding-right: 10px;
        padding-left: 10px;
    }
    .one {
        width: 200px !important;
        height: 100px !important;
    }
    .img-section {
        height: 100px;
    }
    .one-of {
        width: 200px;
        height: 100px;
    }
    .geography {
        max-height: 150px;
        max-width: 200px;
    }
}
