.fests1 {
        background-image: url('../img/section3/jpg/14.jpg');
        background-size: cover; 
        float: right;
}

.fests2 {
    background-image: url('../img/section3/jpg/15.jpg');
    background-size: cover; 
}

.fests3 {
    background-image: url('../img/section3/jpg/16.jpg');
    background-size: cover; 
}

.fests4 {
    background-image: url('../img/section3/jpg/17.jpg');
    background-size: cover; 
}

.fests5 {
    background-image: url('../img/section3/jpg/18.jpg');
    background-size: cover; 
}

.fests6 {
    background-image: url('../img/section3/jpg/19.jpg');
    background-size: cover; 
}

.fests7 {
    background-image: url('../img/section3/jpg/20.jpg');
    background-size: cover; 
}

.fests8 {
    background-image: url('../img/section3/jpg/21.jpg');
    background-size: cover; 
    background-position: center;
    height: 600px;
}

.right {
    text-align: right;
    margin-right: 15px;
    font-style: italic !important;
    font-weight: 500 !important;
}

.verse {
    font-size: 14px !important;
    font-weight: 400 !important;
    font-style: italic !important;
    text-align: end;
    margin: 0;
    padding: 20px 20px 0 0;
    color: #000 !important;
}

.fests9 {
    background-image: url('../img/section3/jpg/22.jpg');
    background-size: cover; 
}

.fests10 {
    background-image: url('../img/section3/jpg/23.jpg');
    background-size: cover; 
}

.float-right-with-small {
    margin-top: 30px;
}

.fests11 {
    background-image: url('../img/section3/jpg/24.jpg');
    background-size: cover; 
    margin-top: inherit;
    margin-left: 40px;
}

.left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-left {
    float: left;
    margin: 20px 40px 40px 0px;
}

.fests12 {
    background-image: url('../img/section3/jpg/25.jpg');
    background-size: cover; 
}

@media(max-width: 1000px) {
    .text-left {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 950px) {
    .float-right-with-small {
        display: flex;
        flex-direction: column;
    }
    .float-right-with-small .img-small {
        all: unset;
    }
}

@media(max-width: 750px) {
    .fests8 {
        width: 95%;
        height: 200px;
    }
    .verse {
        padding: 15px 15px 0 0;
    }
    .fests12 {
        width: 350px;
    }
}

@media(max-width: 680px) {
    .verse {
        font-size: 10px !important;
    }
}

@media(max-width: 550px) {
    .fests8 {
        width: 375px;
        height: 250px;
    }
    .fests9, .fests10 {
        width: 375px;
        height: 250px;
    }
}

@media(max-width: 500px) {
    .fests8 {
        width: 300px;
        height: 150px;
    }
    .fests9, .fests10 {
        width: 300px;
        height: 150px;
    }
    .img-left {
        margin: unset;
    }
    .verse {
        font-size: 8px !important;
        padding: 5px 5px 0 0;
        line-height: 1.1em !important;
    }
}

@media(max-width: 450px) {
    .fests12 {
        width: 300px;
        height: 150px;
    }
}

@media(max-width: 400px) {
    .fests8 {
        width: 250px;
        height: 100px;
    }
}

@media(max-width: 350px) {
    .fests2 {
        background-position: unset !important;
    }
    .fests8 {
        width: 200px;
        height: 100px;
    }
    .fests9, .fests10 {
        width: 200px;
        height: 100px;
    }
    .fests12 {
        width: 200px;
        height: 100px;
    }
}
