p {
    margin: 0;
}
.card {
    max-width: 90%;
    margin: 0 auto;
}

.card-container {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.card-container__text {
    min-width: 500px;
}

.card-container:nth-child(even){
    flex-direction: row-reverse;
}


.card-text {
    padding-left: 100px;
    padding-right: 50px;
    position: relative;
}

.card-text p{
    margin-bottom: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
} 

.card-text__title {
    margin-bottom: 32px;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.card-text__desc {
    margin-bottom: 27px;
    max-width: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.2;
}
.card-text__desc p{
    margin: 1em;
}
.card-text__title h1, .card-text__desc h4{
    color: #FFD1A0; 
}
.double-slider_container {
    flex-direction: column;
    flex: 1;
}

.big-slider {
    width: 900px;
}
.slider {
    max-width: unset;
}
.one-img-gallery {
    width: 840px;
    height: 450px;
}
.one-img-gallery .gallery-item {
    height: 100%;
    background-size: cover;
    background-position: center center;
}
/* Мини-галерея под слайдером */
.mini-slider {
    width: 650px;
}

.card-item {
    height: 450px;
}
.card-item_small {
    height: 80px;
    padding: 5px;
    margin: 0 5px;
    background-position: center center;
    background-size: cover;
    text-align: center;
    cursor: pointer;
}
.btn-slider-prev {
    top: 35%;
} 

.btn-slider-next {
    top: 35%;
}
@media(max-width: 1350px) {
    .card-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .card-text__title {
        text-align: center;
    }

    .card-text__desc {
        max-width: none;
    }
}
@media(max-width: 910px) {
    .big-slider {
        width: 700px;
    }
    .card-item{
        height: 350px;
    }
    .one-img-gallery {
        width: 640px;
        height: 350px;
    }
    .mini-slider {
        width: 500px;
    }
}
@media(max-width: 815px) {
    .card-container__text {
        min-width: unset;
        margin: 0 10px;
    }
}


@media(max-width: 700px) {
    .big-slider {
        width: 580px;
    }
    .card-item {
        height: 290px;
    }
    .mini-slider {
        width: 400px;
    }
    .card-item_small {
        height: 60px;
    }
    .one-img-gallery {
        width: 520px;
        height: 290px;
    }
}
@media(max-width: 650px) {

    .big-slider {
        width: 480px;
    }
    .card-item {
        height: 240px;
    }
    .mini-slider {
        width: 400px;
    }
    .card-text__title h1{
        font-size: 20px;
    }
    .card-text__desc p{
        font-size: 14px;
    }
    .one-img-gallery {
        width: 420px;
        height: 240px;
    }

}
@media(max-width: 520px) {

    .big-slider {
        width: 400px;
    }
    .card-item {
        height: 200px;
    }
    .mini-slider {
        width: 350px;
    }
    .one-img-gallery {
        width: 340px;
        height: 200px;
    }
}
@media(max-width: 450px) {
    .big-slider {
        width: 300px;
    }
    .card-item {
        height: 150px;
    }
    .card-item_small {
        height: 55px;
    }
    .mini-slider {
        width: 200px;
    }
    .one-img-gallery {
        width: 240px;
        height: 150px;
    }
}

@media(max-width: 350px) {
    .mini-slider .slick-list {
        display: none;
    }
    .card-container {
        margin-bottom: 50px;
    }
    .mini-slider .slick-dots {
        bottom: -20px;
    }
}



