.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
}

.catalog-price {
    margin-top: 10px;
}

.catalog-price > span {
    font-weight: bold;
}

.category {
    text-align: center;

}
