.triangle {
    background-image: url('../img/menu/triangle-light50.png');
}

.m-10 {
    margin: 10px;
}

.section-first p {
    margin-top: 0;
}

.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
}

.title-text {
    display: flex;
    flex-direction: column;
}

.img-mountains {
    background-image: url('../img/places-catalog/1.jpg');
    background-size: cover;
}

.img-sea {
    background-image: url('../img/places-catalog/2.jpg');
    background-size: cover;
}

.img-desert {
    background-image: url('../img/places-catalog/3.jpg');
    background-size: cover;
}

.text-left-img-right {
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.text-align-right {
    text-align: right;
    align-self: flex-end;
}

.text-left {
    width: 30%;
    box-sizing: border-box;
}

.img-mountains-big1 {
    background-image: url('../img/places-catalog/4.jpg');
    background-size: cover;
}

.img-mountains-big2 {
    background-image: url('../img/places-catalog/5.jpg');
    background-size: cover;
}

.mountains-big {
    width: 900px;
    height: 500px;
}

.top-10_text {
    display: block;
}

.shalbuzdag {
    background-image: url('../img/places-catalog/shalbuzdag.jpg');
    background-size: cover;
}

.tarki-tau {
    background-image: url('../img/places-catalog/tarki-tau.jpg');
    background-size: cover;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.addala-shukhgelmeer {
    background-image: url('../img/places-catalog/addala-shukhgelmeer.jpg');
    background-size: cover;
    width: 100%;
}

.izberg-tau1 {
    background-image: url('../img/places-catalog/izberg-tau1.jpg');
    background-size: cover;
}

.izberg-tau2 {
    background-image: url('../img/places-catalog/izberg-tau2.jpg');
    background-size: cover;
}

.gunib-beacon {
    background-image: url('../img/places-catalog/gunib-beacon.jpg');
    background-size: cover;
}

.gunib-plateau {
    background-image: url('../img/places-catalog/gunib-plateau.jpg');
    background-size: cover;
}

.gunib-aul {
    background-image: url('../img/places-catalog/gunib-aul.jpg');
    background-size: cover;
    min-width: 550px;
}

.gunib-fortress {
    background-image: url('../img/places-catalog/gunib-fortress.jpg');
    background-size: cover;
}

.green-steps {
    margin-top: 30px !important;
}

.saltin1 {
    background-image: url('../img/places-catalog/saltin1.jpg');
    background-size: cover;
    float: left;
    margin: 0 0 30px 0;
}

.saltin2 {
    background-image: url('../img/places-catalog/saltin2.jpg');
    background-size: cover;
}

.saltin3 {
    background-image: url('../img/places-catalog/saltin3.jpg');
    background-size: cover;
}

.old-goor1 {
    background-image: url('../img/places-catalog/old-goor1.jpg');
    background-size: cover;
    background-position: center center;
    min-width: 500px;
    height: unset;
}

.old-goor2 {
    background-image: url('../img/places-catalog/old-goor2.jpg');
    background-size: cover;
    width: 200px;
    height: 225px;
}

.small-img-below {
    background-position: center center;
    width: 50%;
    margin: 0 auto;
}

.karadakh1 {
    background-image: url('../img/places-catalog/karadakh1.jpg');
    background-size: cover;
}

.karadakh2 {
    background-image: url('../img/places-catalog/karadakh2.jpg');
    background-size: cover;
}

.naryn-kala2 {
    background-image: url('../img/places-catalog/naryn-kala2.jpg');
    background-size: cover;
}

.naryn-kala3 {
    background-image: url('../img/places-catalog/naryn-kala3.jpg');
    background-size: cover;
}

.sea2 {
    background-image: url('../img/places-catalog/kaspiy-sea2.jpg');
    background-size: cover;
    width: 864px;
    height: 522px;
    margin-left: 50px;
}

.relative {
    position: relative;
}

.text-left-verse {
    text-align: left;
    line-height: 1.5rem !important;
}

.half-trans {
    /* background-color: rgb(225 225 225 / 31%); */
    background-color: rgb(151 151 151 / 55%);
    padding: 2%;
    width: fit-content;
}

.covers {
    position: absolute;
    top: 30px;
    right: -251px;
}

.top-10_text > li {
    font-weight: 600;
    margin-bottom: 10px;
}

.samur1{
    background-image: url('../img/places-catalog/samur1.jpg');
    background-size: cover;
}

.samur2 {
    background-image: url('../img/places-catalog/samur2.jpg');
    background-size: cover;
}

.text-night {
    font-size: 14px !important;
}

.author {
    margin-bottom: 0 !important;
    opacity: 0.6;
}

.kurush1 {
    background-image: url('../img/places-catalog/kurush1.jpg');
    background-size: cover;
}

.img-in-column1 {
    width: 100%;
    height: 500px;
}

.kurush2 {
    background-image: url('../img/places-catalog/kurush2.jpg');
    background-size: cover;
}

.img-in-column2 {
    min-width: 45%;
    align-self: flex-end;
    margin-bottom: 30px;
}

.catalog-price {
    margin-top: 10px;
}

.catalog-price > span {
    font-weight: bold;
}

.category {
    text-align: center;
}

.grape {
    background-image: url('../img/places-catalog/grape.jpg');
    background-size: cover;
    height: 500px;
    width: 400px;
}

.desert1 {
    background-image: url('../img/places-catalog/sarykum2.jpg');
    background-size: cover;
}

.desert2 {
    background-image: url('../img/places-catalog/sarykum3.jpg');
    background-size: cover;
}

.cognac {
    background-image: url('../img/places-catalog/cognac.jpg');
    background-size: cover;
    background-position: center center;
    width: 75%;
    height: 55%;
    margin: 0 auto;
}

.img-one {
    width: 1000px;
    margin: 0 auto;
}

.img-big {
    width: 100%;
}

.img-bigger {
    width: 780px;
    height: 450px;
}

.img-smaller {
    width: 250px;
    height: 175px;
    align-self: flex-end;
    margin-bottom: 118px;
}

.two-unequal {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.align-start {
    align-items: start;
}

.caption-margin {
    margin-top: 2% !important;
}

.map-margin {
    margin-top: 30px;
}

.map-margin_big {
    margin-top: 50px;
}

.diagonal {
    position: relative;
    height: 500px;
    margin-top: 30px;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.tours-main {
    display: flex;
    justify-content: center;
    text-align: start;
}

.kabir {
    background-image: url('../img/places-catalog/kabir.jpg');
    background-size: cover;
    width: 900px;
    height: 400px;
}

.merki {
    background-image: url('../img/places-catalog/merki.jpg');
    background-size: cover;
    width: 700px;
    height: 400px;
}

.gestinkil1 {
    width: 700px;
    height: 350px;
}

.gestinkil2 {
    width: 400px;
}

.kurakh-dere {
    background-image: url('../img/places-catalog/kurakh-dere.jpg');
    background-size: cover;
    width: 100%;
    height: 500px;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ashar {
    background-image: url('../img/places-catalog/ashar.jpg');
    background-size: cover;
    width: 550px;
    height: 410px;
}

.smaller-margin {
    margin-bottom: 2% !important;
}

.chekhivir {
    background-image: url('../img/places-catalog/chekhivir.jpg');
    background-size: cover;
    width: 350px;
    height: 250px;
}

.chekhivir-absolute .caption {
    margin-bottom: 0 !important;
}

.chekhivir-absolute {
    position: absolute;
    top: 420px;
    left: 100px;
}

.two-maps {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.car-mountains {
    width: 100%;
}

.text-tours-main {
    width: 30%;
    padding: 30px;
}

.text-tours-main p{
    font-size: 18px;
    line-height: 1.78;
}

.img-tours-main {
    width: 45%;
}

@media(max-width: 1450px) {
    .mountains-big {
        width: 800px;
    }
    .bazardyuzyu {
        width: 600px;
    }
    .kurakh-dere_block .two-columns {
        flex-wrap: wrap;
        justify-content: center;
    }
    .chekhivir-absolute {
        position: unset;
    }
    .flex-wrapper {
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        margin: 0 auto;
    }
    .aul {
        flex-direction: column-reverse;
    }
    .gunib-aul {
        height: 450px;
        margin: 0 auto;
    }
    .sea {
        width: 60%;
    }
}

@media(max-width: 1400px) {
    .mountains-big {
        width: 800px;
    }
    .kabir {
        width: 750px;
    }
    .sea {
        width: 60%;
    }
    .sea2 {
        width: 750px;
    }
}

@media(max-width: 1350px) {
    .mountains-big {
        width: 700px;
    }
}

@media(max-width: 1300px) {
    .two-columns {
        gap: 20px;
    }
    .small-img-below {
        width: 300px;
    }
    .old-goor1 {
        height: 500px;
    }
    .img-bigger {
        width: 80%;
    }
    .img-smaller {
        width: 30%;
    }
}

@media(max-width: 1250px) {
    .mountains-big {
        width: 650px;
    }
    .float-right {
        margin: 0 0 20px 20px;
    }
    .sea2 {
        width: 650px;
    }
    .text-left-verse {
        font-size: 14px !important;
        line-height: 1.2rem !important;
    }
    .covers {
        right: -203px;
    }
}
@media(max-width: 1150px) {
    .article-text {
        width: 100%;
    }
    .top-10_text {
        align-self: flex-start;
    }
    .text-left-img-right {
        flex-direction: column;
    }
    .text-left {
        width: auto;
    }
    .mountains-big {
        width: 100%;
    }
    .two-columns {
        flex-direction: column;
        gap: 50px;
    }
    .img-in-column2 {
        width: 100%;
        height: 500px;
        margin: 0 auto;
    }
    .two-maps {
        flex-direction: column;
    }
    .flex-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .cognac {
        width: 55%;
        height: 250px;
        margin: 0 auto;
    }
    .grape {
        margin: 0 auto;
    }
    .text-tours-main p {
        font-size: 16px;
    }
}

@media(max-width: 1100px) {
    .bazardyuzyu {
        width: 100%;
    }
}

@media(max-width: 1050px) {
    .diagonal {
        height: 450px;
    }
    .one-of {
        width: 400px;
        height: 250px;
    }
    .sea2 {
        width: 575px;
        height: 350px;
        margin-left: 0;
    }
    .text-left-verse {
        font-size: 12px !important;
        line-height: 1rem !important;
    }
    .covers {
        right: -174px;
    }
    .img-bigger {
        height: 350px;
    }
    .img-smaller {
        height: 100px;
        width: 25%;
    }
}
@media(max-width: 1023px) {
    .tours-main {
        gap: 0;
    }
}

@media(max-width: 1000px) {
    .gap-1000 {
        margin-top: 50px;
    }
    .addala-shukhgelmeer {
        display: block;
        margin: 0 auto;
    }
    .one-column .img-with-caption .caption-margin {
        margin-bottom: 0 !important;
    }
}

@media(max-width: 900px) {
    .top-10_text {
        font-size: 14px;
    }
    .covers {
        right: -123px;
    }
    .kurakh-dere {
        height: 400px;
    }
    .grape {
        height: 375px;
    }
}

@media(max-width: 850px) {
    .article-container {
        align-items: center !important;
    }
    .old-goor1 {
        width: 100%;
    }
    .diagonal {
        height: fit-content;
    }
    .top-left {
        position: inherit;
    }
    .bottom-right {
        position: inherit;
        display: block;
        margin: 0 auto;
    }
    .sea {
        width: 600px;
        margin-bottom: 20px;
    }
    .float-right {
        float: unset;
        margin: 0 auto 20px auto;
    }
    .text-tours-main p {
        font-size: 14px;
    }
    
    .img-tours-main{
        width: 60%;
    }
}

@media(max-width: 800px) {
    .no-reverse .article-container {
        flex-direction: column !important;
        align-items: center !important;
    }
    .article-text {
        width: unset;
    }
    .mountains-big {
        height: 400px;
    }
    .sea2 {
        width: 90%;
        margin: 0 auto;
    }
    .covers {
        right: unset;
        left: 15px;
        width: 163px;
    }
    .fs-18 {
        font-size: 16px;
    }
}

@media(max-width: 750px) {
    .kurakh-dere {
        height: 350px;
    }
    .gunib-aul {
        min-width: unset;
        width: 100%;
        height: 350px;
    }
    .sea {
        width: 500px;
        margin: 0 auto 20px auto;
    }
}
@media(max-width: 710px) {
    .tours-main {
        flex-direction: column;
    } 
    .text-tours-main {
        width: 100%;
        padding: unset;
        padding-bottom: 10px;
    }
    .img-tours-main {
        width: 100%;
        text-align: center;
    }
    .car-mountains{
        width: 70%;
    }
}
@media(max-width: 650px) {
    .kurakh-dere {
        height: 300px;
    }
    .sea {
        width: 400px;
    }
    .mountains-big {
        height: 300px;
    }

    .old-goor1 {
        min-width: unset;
    }
    .img-bigger {
        height: 300px;
    }
    .img-smaller {
        height: 88px;
        margin-bottom: 94px;
    }
    .grape {
       height: 400px;
    }
    .cognac {
        width: 400px;
    }
}



@media(max-width: 520px) {
    .mountains-big {
        height: 250px;
    }
    .old-goor1 {
        height: 400px;
    }
    .old-goor2 {
        width: 60%;
    }
    .one-of {
        width: 300px;
        height: 200px;
    }
    .gap-1000 {
        margin-top: 30px;
    }
    .kurakh-dere {
        height: 250px;
    }
    .gunib-aul {
        height: 250px;
    }
    .sea {
        width: 90%;
    }
    .sea2 {
        height: 275px;
    }
    .two-unequal {
        flex-direction: column;
    }
    .img-bigger {
        height: 200px;
    }
    .img-smaller {
        width: 100px;
        margin-bottom: 0;
    }
    .grape {
        width: 250px;
    }
    .cognac {
        height: 250px;
        width: 300px;
        background-position-x: center;
    }
}

@media(max-width: 450px) {
    .top-10_text {
        font-size: 12px;
    }
    .gunib-aul {
        height: 200px;
    }
    .grape {
        height: 300px;
        width: 200px;
    }
    .cognac {
        height: 150px;
        width: 250px;
    }
    .category > h2 {
        font-size: 18px;
    }
    .car-mountains{
        width: 100%;
    }
    .text-tours-main p {
        font-size: 12px;
    }
}

@media(max-width: 350px) {
    .gunib-aul {
        height: 150px;
    }
}