.body {
    height: 49vh;
}

.contacts-container {
    width: 450px;
    margin: 30px auto;
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s; 
}
.contacts {
    font-weight: 600;
}

.line > a {
    color: black;
    font-weight: 700;  
    transition: all 0.5s; 
}

.line > a:hover {
    color: #ffffffc4;
}

@media(max-width: 650px) {
    .contacts-container {
        flex-direction: column;
        width: fit-content;
    }
    .contacts > p > a {
        float: none;
    }
    .line {
        flex-direction: column;
    }
    .contacts > h2 {
        text-align: center;
    }
}