.w-100 {
    width: 100%;
    max-width: unset;
}
.view-img {
    width: 80%;
    height: auto;
}
.hotels {
    max-width: 90%;
    margin: 0 auto;
    padding-right: 0;
}
.hotels-all-btn {
    text-align: center;
}
.hotels-section, .booking-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.booking {
    margin-top: 30px;
    margin-bottom: 40px;
}
.booking-icons {
    width: 190px;
    height: 40px;
    background-size: cover;
    border-radius: 20px;
    transition: all 0.4s;
    margin: 10px;
    cursor: pointer;
}
.booking-icons:hover {
    transform: scale(1.2);
}
.article-text p {
    margin-bottom: 10px;
    text-align: justify;
}
.hotels-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
}
.article-text {
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 1200px)  {
    .hotel {
        padding-right: 0; 
    }
}

@media (max-width: 850px) {
    .booking-icons {
        width: 150px;
        height: 35px;
    }
    .view-img {
        width: 100%;
    }
}

@media (max-width: 720px) {
    .booking-icons {
        width: 190px;
        height: 40px;
        margin: 5px;
    }
    .booking-section {
        flex-direction: column;
    }
}

@media (max-width: 450px)  {
    .booking-icons {
        width: 150px;
        height: 35px;
        margin: 3px;
    }
}