iframe {
    background-position: center center;
}

.photo-back {
    background-image: url('../img/route/6.jpg');
    background-size: cover;
    height: 600px;
    padding: 30px 0;
    margin: 100px auto;
}

.auto1 {
    background-image: url('../img/route/9.jpg');
    background-size: cover;
}

.auto2 {
    background-image: url('../img/route/10.jpg');
    background-size: cover;
}

.two {
    height: 350px;
    width: 500px;
    margin: 0 auto;
}

@media(max-width: 1450px) {
    .bus, .rental {
        width: 600px;
        margin: 0 auto;
    }
}


@media(max-width: 1280px) {
    iframe {
        width: 100%;
    }
    .train {
        width: 600px;
        margin: 0 auto;
    }
}

@media(max-width: 750px) {
    iframe {
        width: 100%;
        height: 300px;
    }
    .train, .bus, .rental {
        width: 350px;
        margin: 0 auto;
    }
    .two {
        height: 250px;
        width: 375px;
    }
}

@media(max-width: 800px) {
    iframe {
        width: 100%;
        height: 300px;
    }
    .train, .bus, .rental {
        width: 350px;
        margin: 0 auto;
    }
}

@media(max-width: 600px) {
    .two {
        height: 200px;
        width: 325px;
    }
}

@media(max-width: 520px) {
    iframe {
        width: 100%;
        height: 200px;
    }
    .train, .bus, .rental {
        width: 250px;
        margin: 0 auto;
    }
    .two {
        height: 150px;
        width: 250px;
    }
}

@media(max-width: 400px) {
    .article-text {
        padding: 0 10px;
    }
}

@media(max-width: 350px) {
    iframe {
        width: 100%;
        height: 150px;
    }
    .train, .bus, .rental {
        width: 200px;
        margin: 0 auto;
    }
    .two {
        width: 200px;
    }
}