/* BASE */
@font-face {
	font-family: 'CascadiaExtraLight';
	src: url('../fonts/cascadia_mono_extralight.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/cascadia_mono_extralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/cascadia_mono_extralight.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/cascadia_mono_extralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/cascadia_mono_extralight.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/cascadia_mono_extralight.svg#cascadia_mono_extralight') format('svg'); /* Chrome < 4, Legacy iOS */
}

a, button {
    font-family: 'CascadiaExtraLight', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'CascadiaExtraLight', sans-serif;
    background-color: #000;
    color: #fff;  
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
}

main {
    padding: 30px 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

a {
    color:#FFD1A0;
    text-decoration: none;
    cursor: pointer;
}

.container-page {
    min-height: 100vh;
    flex-direction: column;
}

.container-page main {
    flex: 1;
}

.block {
    display: block;
    text-align: center;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

/* HEADER */
/* выпадающее меню */
.li-region,
.li-route,
.li-housing,
.li-tours {
    position: relative;
}
.li-region:hover  > .submenu,
.li-route:hover  > .submenu,
.li-housing:hover  > .submenu,
.li-tours:hover  > .submenu {
    display: flex;
} 
.li-region  > .submenu,
.li-route  > .submenu,
.li-housing  > .submenu,
.li-tours  > .submenu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #FFFFFF;
    justify-content: left;
    padding-top: 30px;
    z-index: 10;
}
.submenu li {
    white-space: nowrap;
    padding: 10px;
    margin-left: 5px!important;
}

/* HEADER NAV*/
.nav {
    width: 100%;
    height: 30px;
    padding: 25px 0;
    background-color: #FFFFFF;
}

.index .nav {
    background-color: unset;
}

.nav-wrapper {
    padding: 0 60px;
    justify-content: space-between;
    align-items: center;
}
.index .nav-wrapper {
    justify-content: end;
}
.logo {
    font-weight: 700;
    font-size: 28px;
}

/* Меню на главной */

.right-menu {
    /* position: absolute; */
    align-items: flex-end;
    justify-content: space-between;
    /* width:90%; */
    /* top: 15%;
    right: 20px; */
    background-color: transparent;
    padding-bottom: 5%;
    /* z-index: 2; */
}

.nav-items-right {
    background-color: rgb(225 225 225 / 31%);
    padding: 20px;
}
.nav-items-right > h3 {
    text-align: center;
    margin-bottom: 10px;
}

.nav-items-right > ul > li {
    color: #FFD1A0;
    font-weight: 600;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.nav-items-right > ul > li > a {
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 10px;
}

.nav-items-right > ul > ul {
    color: #FFD1A0;
    font-weight: 600;
    margin-bottom: 10px;
}

.nav-items-right > ul > ul > li > a {
    display: block;
    color: #FFFFFF;
    font-weight: 600;
    margin: 0 0 5px 0;
    transition: all 0.3s ease-in-out;
}

.nav-items-right > ul > li:hover, .nav-items-right > ul > ul > li > a:hover {
    opacity: 0.6;
}

.nav-items-right > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
}

.nav-items {
    font-weight: 700;
    font-size: 16px;
    width: 100%;
}

.nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li + li{
    margin-left: 40px;
}

.nav-items-right > ul > li {
    margin-left: 0;  
}

.nav a {
    color: #000;
    transition: all 0.3s;
}

.nav a:hover {
    opacity: 0.6;
}

.account a{
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s;
}

.account a:hover {
    opacity: 0.6;
}

.btn-burger {
    display: none;
    border: none;
    padding: 0;
    height: 25px;
    cursor: pointer;
    background: transparent;
    position: relative;
    z-index: 10;
}

.nav-burger {
    display: block;
    background-color: #000;
    width: 38px;
    height: 4px;
    border: none;
    position: relative;
}

.nav-burger::before {
    position: absolute;
    content: "";
    display: block;
    width: 38px;
    height: 4px;
    left: 0;
    top: -10px;
    background-color: #000;
    border: none;
}

.nav-burger::after {
    position: absolute;
    content: "";
    display: block;
    width: 38px;
    height: 4px;
    left: 0;
    top: 10px;
    background-color: #000;
    border: none;
}

.mobile-nav {
    position: fixed;
    top:0;
    right: -320px;
    width: 290px;
    height: calc(100vh - 70px);
    padding: 70px 15px;
    background-color: rgb(41, 12, 8, 0.9);
    transition: all 0.5s ease-in-out;
    z-index: 9;
    overflow: auto;
}

.mobile-nav a {
    font-weight: 600;
}

.mobile-nav ul{
    list-style-type: none;
    padding-left: 30px;
}

.index .mobile-nav ul .footer-links{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    gap: 7px;
    flex-wrap: wrap;
} 

.burger-links {
    display: flex;
    flex-direction: row;
    gap: 7px;
    flex-wrap: wrap;
}

.burger-links .linkPic {
    width: 24px;
}

.mobile-nav li {
    margin-bottom: 10px;
    font-weight: 700;
}

.mobile-nav-active {
    right: 0px !important;
}

.mobile-nav-close .nav-burger {
    background-color: transparent;
}

.mobile-nav-close .nav-burger::after {
    transform: rotate(45deg);
    top: 0;
}

.mobile-nav-close .nav-burger::before {
    transform: rotate(-45deg);
    top: 0;
}


/* HEADER */
/* выпадающее мобильное меню */

.mobile-nav > ul > li {
    transition: all 0.4s ease-in-out;
}

.mobile-submenu {
    display: none;
    padding-left: 16px;
    margin: 15px 0;
    transition: all 0.5s ease-in-out;
}

.mobile-submenu > li {
    list-style-type: circle;
    margin-bottom: 5px;
    transition: all 0.4s ease-in-out;
}

.mobile-submenu > li > a {
    color: #fff;
}

.mobile-submenu > li:hover {
    opacity: 0.6;
}

.li-trigger {
    transition: all 0.5s ease-in-out;
}

.li-trigger > a {
    position: relative;
}

.open {
    display: block;
}

.arrow {
    content: '';
    position: absolute;
    right: -15px;
    top: 0;
    top: 8px;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.active{
	transform: rotate(-180deg);
}

/* HEADER INDEX*/

.index {
    height: fit-content;
    position: relative;
    background-image: url('./../img/bg/bgPpt-shaded.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    overflow-y: auto;
}

.header-index {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-weight: bold;
    font-family: 'CascadiaExtraLight', sans-serif;
    transition: transform 0.6s cubic-bezier(0.660, 0.215, 0.295, 1.640);
}

.header-index:hover {
    transform: translateY(-5%);
}

.wrap-with-social-icons {
    display: flex;
    flex-direction: row;
    align-items: start;
    height: calc(0.5*100vw - 80px);
}
.header-index__desc {
    font-size: 72px;
    letter-spacing: 4px;
    margin: 0 auto;
    text-align: center;
}

.header-index__title {
    position: relative;
    font-size: 32px;
    margin-bottom: 24px;
    line-height: 1.222;
    letter-spacing: 4px;
    text-align: center;
} 

.triangles-wrap {
    display: flex;
    flex:1;
    /* justify-content: center; */
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
}

.right-menu .triangles-wrap {
    margin-right: 5%;
}

.triangle {
    position: relative;
    background-image: url('../img/menu/triangle-light.png');
    background-size: cover;
    height: 200px;
    width: 283px;
}

.triangle > a {
    position: absolute;
    font-size: 16px;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    z-index: 4;
    transition: all 0.4s ease-in-out;
}

.triangle > a:hover {
    opacity: 0.6;
}

.circle {
    width: 50%;
    height: 70%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 30%;
    border-radius: 50%;
    opacity: 0;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.triangle:hover .circle {
    opacity: 0.6;
}

.with-img > a:hover {
    color: #FFD1A0 !important;
    opacity: 1;
}

.footer-links {
    display: flex;
    column-gap: 15px;
    margin-bottom: 20px;
}

.linkPic {
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.linkPic:hover {
    scale: 1.1;
}


/* MAIN ARTICLE */

.title-catalog-page {
    display: none;
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
/* breadcrumbs */
.breadcrumbs-container {
    margin: 20px 0;
}

.breadcrumbs-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 600;
}

.breadcrumbs > a, .breadcrumbs-list li {
    display: inline-block;
    margin-right: 18px;
    transition: all 0.3s ease-in-out;
}

.breadcrumbs > a, .breadcrumbs-list li > a {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.breadcrumbs > a::after, .breadcrumbs-list li > a::after {
    content: '>';
    position: absolute;
    right: -14px;
    top: 0;
}

.breadcrumbs > a, .breadcrumbs-list li > a:hover {
    color: #ffffffc4;
}

.article {
    max-width: 90%;
    margin: 0 auto;
}

.welcome {
    color: #FFD1A0;
    font-size: 18px;
    background-color: rgb(225 225 225 / 31%);
    /* padding: 30px 0; */
    padding: 30px;
    text-align: center;
    /* font-style: italic; */
    font-weight: 400;
    margin-bottom: 50px;
}

.article-container {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.article-container:nth-child(even){
    flex-direction: row-reverse;
}

.main-sections .article-container {
    gap: 50px;
}

.article-text {
    position: relative;
    padding-left: 100px;
    padding-right: 50px;
}

.article-text p{
    margin-bottom: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
    color: #FFFFFF;
} 

.article-text__title {
    position: relative;
    margin-bottom: 32px;
    /* padding-left: 104px; */
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFD1A0;
}

/* .article-text__title::before {
    position: absolute;
    display: block; 
    content: "";
    width: 72px;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);    
    background-color:#FFD1A0; 
} */

.article-text__desc {
    margin-bottom: 27px;
    max-width: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 1.2;
    color: #FFFFFF;
}

.article-text__more {
    position: relative;
    padding-right: 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    display: inline-block;
}

.article-text__more::after {
    position: absolute;
    display: block;
    content: "\2192";
    width: 24px;
    height: 32px;
    right: 0;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.article-img img {

    max-width: 450px;
}

.main-page .article-text {
    padding: 0;
}


/* КОНТЕЙНЕР С КАРТОЧКАМИ НА ГЛАВНОЙ */

/* КАРТОЧКИ ТУРОВ-МЕСТ НА ГЛАВНОЙ */

/* кнопка внутри карточки */
.card-item__btn {
    width: 150px;
    height: 40px;
    color: #253421;
    font-size: 18px;
    line-height: 1.18;
    font-weight: 600;
    border-width: 3px;
    border-radius: 40px;
    background-color: #2dffe2;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

/* общая кнопка с ховер-эффектом */
.btn-theme {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-theme:hover {
    background-color: #FFFFFF;
}

.btn-long {
    font-size: 14px;
}
.card-carousel {
    width: 100%;
    column-gap: 10px;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}

.card-item {
    position: relative;
    width:300px;
    height: 400px; 
    padding: 15px;
    margin: 0 15px;
    text-align: center;
    background-position: center center;
    background-size: cover;
    cursor:pointer;
    overflow: hidden;
}

.card-item__title > h3 {
    background-color: rgba(255, 255, 255, 0.774);
    padding: 5px 15px;
    display: inline-block;
    border-radius: 15px;
    overflow-wrap: anywhere;
}
.card-item__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    z-index: -1;
    transition: all 0.5s;
}

.card-item:hover .card-item__img {
    transform: scale(1.1);
}
.card-item__desc {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.774);
    font-weight: 500;
    margin-top: 10px;
    border-radius: 15px;
    padding: 5px 15px;
    overflow-wrap: anywhere;
}

.catalog-card {
    position: relative;
    flex-direction: column;
    color: #000;
    margin: 15px;
    border-radius: 20px;
}

.card-text > h2 {
    text-align: center;
    padding: 30px 0;
}

.btn-big {
    width: 200px;
    height: 60px;
    margin: 20px auto 30px auto;
}

.catalog-btn {
    position: absolute;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.tour-btn {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.3s;
}
/* Карточки гостиниц */

.hotel-btn {
    position: absolute;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.3s;
}
.hotel-btn:hover,
.tour-btn:hover {
    background-color: gainsboro;
}
.hotels-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hotel-item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    width:300px;
    height: 400px;
    background-color: #ffffff;
    color: #000;
    overflow: hidden;
    margin: 30px 20px;
    border-radius: 20px;
}
.hotel-item__img-container,
.guide-item__img-container {
    width: 100%;
    height: 60%; 
    overflow: hidden;
}
.tour-item__img-container {
    width: 100%;
    height: 100%; 
    overflow: hidden;
}
.tour-item__hover {
    position: absolute;
    top:0;
    left:0;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.4s;
}
.hotel-item__img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    transition: all 0.5s;
}
.guide-item__img,
.tour-item__img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.5s; 
    cursor: pointer;
}
.hotel-item__img-container:hover .hotel-item__img {
    transform: scale(1.1);
}
.guide-item__img-container:hover .guide-item__img {
    transform: scale(1.1);
}
.hotel-item__title,
.guide-item__title  {
    height: 12%;
    padding: 10px 15px;
    text-align: center;
}
.hotel-item__location {
    padding: 0 15px;
    text-align: center;
    font-size: 14px;
}
.guide-item__desc {
    padding: 0 15px;
    text-align: center;
}
.guide-item,
.tour-item {
    background-color: #ffffff;
    cursor:default;
}
.tour-item:hover .tour-item__hover {
    opacity: 1;
}
/* SLIDER */
.slider {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}

.slider-container {
    display: flex;
    flex-direction: column;
}

.slick-dots {
    position: absolute;
    bottom: -40px;
    padding: 0;
}

.slick-dots li + li{
    margin-left: 3px;
}

.slick-dots li button{
    font-size: 0;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
}

.slick-dots .slick-active button {
    background-color: #FFD1A0;  
}

.slick-dots li{
    display: inline-block;
}

.btn-slider-prev {
    position: absolute;
    top: 47%;
    cursor: pointer;
    left: -20px;
    font-size: 20px;
    color:#FFD1A0;
} 

.btn-slider-next {
    position: absolute;
    top: 47%;
    cursor: pointer;
    right: -20px;
    font-size: 20px;
    color:#FFD1A0;
}

.two-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

/* FOOTER */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 5%;
    align-items: center;
    color:#FFFFFF;
    box-shadow: 0px 0px 1px 1px white;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.footer-nav .logo {
    font-size: 20px;
    color: #FFD1A0;
}

.footer-menu_container {
    display: flex;
    flex: 0 0 55%;
    gap: 41px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-nav__title {
    margin: 0;
    color: #FFD1A0;
}

.footer-nav__links {
    margin-top: 15px;
}

.footer-nav__links > a {
    display: block;
    color: #FFFFFF;
    margin-bottom: 7px;
    transition: all 0.3s ease-in-out;
}

.footer-nav__links > a:hover {
    color: #ffffffc4;
}

.credits {
    font-size: 14px;
    color: #FFD1A0;
    font-weight: 600;
}

.height-card-item {
    height: 385px;
}

/* ПАНОРАМА */

.bg-img {
    max-width: 100vw;
    height: calc(100vw/3.24);
    max-height: 500px;
    background-image: url('../img/bg/panorama1.jpg');
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    transition: all 0.4s;

}
.bg-gost-white {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}
.bg-img:hover .bg-gost-white {
    opacity: 1;
}

.btn-panorama {
    width: 200px;
    height: 60px;
}

@media(max-width: 1407px) {
    .triangle {
        height: 175px;
        width: 250px;
    }
}

@media(max-width: 1324px) {
    .triangle {
        height: 145px;
        width: 205px;
    }
    .triangle > a {
        bottom: 30px;
        width: 100px;
    }
}

@media(max-width: 1300px) {
    .height-card-item {
        height: calc(100vw/3.05); 
    }
}

@media(max-width: 1200px) {
    .logo {
        font-size: 24px;
    }
    .nav-items, .account {
        display: none;
    }
    .nav-items-right {
        display: none;
    }
    .btn-burger {
        display: block;
    }
    .mobile-nav-close {
        position: fixed;
        right: 20px;
        top: 20px;
    }
    .mobile-nav-close .nav-burger::before {
        background-color: #FFFFFF;
    }
    .mobile-nav-close .nav-burger::after {
        background-color: #FFFFFF;
    }

    .right-menu {
        padding: 10% 0;
        /* bottom: 30%; */
        width: 100%;
        /* right: 0; */
    }

    .right-menu .triangles-wrap {
        /* justify-content: space-evenly; */
        margin-right: unset;
    }

    .article-text {
        padding-left: 50px;
        padding-right: 30px;
    }

    .article-text p{
        font-size: 16px;
    } 

    .article-text__title {
        margin-bottom: 20px;
        /* padding-left: 60px; */
        font-size: 14px;
        letter-spacing: 3px;
        color: #FFD1A0;
    }

    /* .article-text__title::before {
        width: 50px;
        height: 1px;
    } */

    .article-text__desc {
        margin-bottom: 20px;
        max-width: 450px;
        font-size: 44px;
    }

    .article-text__more {
        font-size: 14px;
    }
    .article-img img {
        max-width: 400px;
    }   

}

@media(max-width: 1000px) {

    .height-card-item {
        margin-left: 25px;
        margin-right: 25px;
        height: calc(100vw/2.2); 
    }
    .article-text__desc {
        font-size: 34px;
    }
    .logo {
        font-size: 20px;
    }
    .header-index__desc {
        font-size: 56px;
    }
    .header-index__title {
        font-size: 26px;
    }
    .plus-one-btn .btn-big {
            width: 150px;
            height: 40px;
            margin: 0;
    }

}
@media(max-width: 900px) {
    .nav {
        height: 30px;
        padding: 15px 0;
    }
    header .footer-links {
        margin-left: 30px;
    }
    .logo {
        font-size: 18px;
    }
    .footer-nav .logo{
        font-size: 16px;
    }
    .footer-nav {
        font-size: 14px;
    }
    .nav-wrapper {
        padding: 0 30px;
    }
    .btn-burger {
        height: 19px; 
    }
    .nav-burger {
        width: 30px;
        height: 3px;
    }
    .nav-burger::before{
        width: 30px;
        height: 3px;
        top: 8px;
    }
    .nav-burger::after {
        width: 30px;
        height: 3px;
        top:-8px;
    }

    .article-text {
        padding-left: 40px;
        padding-right: 20px;
    }

    .article-text p{
        font-size: 14px;
    } 

    .article-text__title {
        margin-bottom: 20px;
        /* padding-left: 60px; */
        font-size: 14px;
        letter-spacing: 3px;
    }

    /* .article-text__title::before {
        width: 50px;
        height: 1px;
    } */
    .article-text__desc {
        margin-bottom: 20px;
        max-width: 400px;
        font-size: 34px;
    }

    .article-text__more {
        font-size: 14px;
    }
    .article-img img {
        max-width: 320px;
    }
}

@media(max-width: 850px) {
    .header-index__desc {
        font-size: 50px;
    }
    .header-index__title {
        font-size: 22px;
    }
    .triangle > a {
        font-size: 14px;
    }
    .right-menu {
        bottom: 25%;
    }
}

@media(max-width: 800px) {

    .linkPic {
        width: 24px;
    }
    .logo {
        font-size: 16px;
    }

    .triangles-wrap {
        justify-content: space-evenly;
    }

    .triangle {
        height: 125px;
        width: 175px;
    }
    .triangle > a {
        font-size: 14px;
    }

    .article-container {
        flex-direction: column-reverse;
        align-items: start;
        margin-bottom: 50px;
    }

    .main-page .article-container {
        gap: 15px;
    }

    .article-container:nth-child(even){
        flex-direction: column-reverse;
    }

    .article-img .small-img {
        display: none;
    }

    .article-img img {
        max-width: 600px;
        margin-bottom: 15px;
    }

    .article-img .big-img {
        display: block;
    }

    .article-img {
        margin: 0 auto;
    }

    iframe {
        height: 300px;
    }
    .bg-img {
        height: calc(100vw/2.5);
    }
}
@media(max-width: 700px) {
    .triangles-wrap {
        justify-content: space-between;
    }
    .triangle {
        height: 100px;
        width: 150px;
    }
    .triangle > a {
        font-size: 12px;
        width: 80px;
        bottom: 15px;
    }

}

@media(max-width: 676px) {
    .header-index__desc {
        font-size: 44px;
    }
    .header-index__title {
        font-size: 18px;
    }
}

@media(max-width: 650px) {
    .height-card-item {
        margin-left: 15px;
        margin-right: 15px;
    }
    .nav {
        height: 30px;
        padding: 15px 0 5px 0;
    }

    .logo {
        font-size: 14px;
    }
    .triangles-wrap {
        justify-content: center;
        gap: 15px;
    }
    .article-img img {
        max-width: 400px;
    } 
    iframe {
        height: 240px;
    }
    .footer-nav {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .height-card-item__title > h3 {
        font-size: 14px;
    }
    .height-card-item__desc {
        font-size: 12px;
    }
    .bg-img {
        height: calc(100vw/2.4);
    }
}

@media(max-width: 550px) {
    /* .triangles-wrap {
        gap: 20px;
    } */
    .right-menu {
        bottom: 15%;
    }
    .breadcrumbs-list {
        flex-wrap: wrap;
    }
    .welcome {
        font-size: 14px;
    }
    .height-card-item {
        margin-left: 50px;
        margin-right: 50px;
        height: calc(100vw/1.2); 
    }
    .btn-slider-next {
        right: -10px;
    }
    .btn-slider-prev {
        left: -10px;
    }
    .height-card-item__title > h3 {
        font-size: 16px;
    }
    .height-card-item__desc {
        font-size: 14px;
    }
    .bg-img {
        height: calc(100vw/2);
    }
}

@media(max-width: 520px) {
    .header-index__desc {
        font-size: 32px;
    }
    .header-index__title {
        font-size: 14px;
    }
    .two-buttons {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .plus-one-btn {
        gap: 15px;
    }
    .btn-big {
        width: 150px;
        height: 40px;
        margin: 0;
        margin-bottom: 30px;
    }
    .breadcrumbs-container {
        display: none;
    }
    .title-catalog-page {
        display: block;
        margin-bottom: 30px;
    }
    .btn-long {
        width: 200px;
    }
}

@media(max-width: 490px) {
    /* .index {
        height: 375px;
    } */
    .right-menu {
        bottom: 5%;
    }
}

@media(max-width: 450px) {
    .article-img img {
        max-width: 300px;
    } 
    .article-text p{
        font-size: 12px;
    } 

    .article-text__title {
        font-size: 12px;
    }

    .article-text__desc {
        max-width: 200px;
        font-size: 24px;
    }

    .article-text__more {
        font-size: 12px;
    }

    .header-title {
        font-size: 8px; 
    }
    iframe {
        height: 200px;
    }
    .footer-menu_container {
        flex-direction: column;
        gap: 10px;
    }
    .footer-nav__item {
        text-align: center;
    }
    .bg-img {
        height: calc(100vw/1.8);
    }
}
@media (max-width: 420px) {
    .height-card-item {
        margin-left: 20px;
        margin-right: 20px;
    }

}
@media(max-width: 350px) {
    /* .index {
        height: 350px;
    } */
    .mobile-nav {
        text-align: center;
        padding: 55px 0;
    }
    .mobile-nav ul {
        padding: 0;
    }
    .index .mobile-nav ul .footer-links {
        justify-content: center;
    }
    .burger-links {
        justify-content: center;
    }
    .header-index__desc {
        font-size: 26px;
    }
    .triangle {
        height: 90px;
        width: 135px;
    }
    .article-img img {
        max-width: 250px;
    }
    .card-text > h2 {
        font-size: 14px;
    }
    .height-card-item__title > h3 {
        font-size: 14px;
    }
    .height-card-item__desc {
        font-size: 12px;
    }
    .height-card-item__btn {
        font-size: 14px;
    }
    .height-card-item {
        margin-left: 10px;
        margin-right: 10px;

    }
    .card-item {
        width: 250px;
        height: 360px;
    }
    .bg-img {
        height: calc(100vw/1.5);
    }
}
@media (max-width: 320px) {
    .mobile-nav {
        width: 100%;
    }
    .index {
        height: 450px;
    }
    .triangles-wrap {
    flex-direction: column;
    align-items: center;
    }
}
