/* BASE */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #F7CE9D;
    color: rgb(189, 88, 44);  
}

.body-index {
    max-width: 1520px;
    background-image: url('./../img/bg/bgPpt.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow-y: auto;
}

.container-page {
    min-height: 100vh;
    flex-direction: column;
}

.container-page main {
    flex: 1;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}


/* HEADER NAV*/

.nav {
    width: 100%;
    height: 30px;
    padding: 25px 0;
}

.nav-wrapper {
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 28px;
}

.nav-items {
    font-weight: 700;
    font-size: 16px;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li + li{
    margin-left: 40px;
}

.nav a {
    color: rgb(189, 88, 44);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav a:hover {
    color: rgb(169, 93, 93);
}

.account a{
    font-weight: 700;
    font-size: 16px;
    color: rgb(189, 88, 44);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.account a:hover {
    color: rgb(169, 93, 93);
}

.btn-burger {
    display: none;
    border: none;
    padding: 0;
    height: 25px;
    cursor: pointer;
    background: transparent;
}

.nav-burger {
    display: block;
    background-color: rgb(189, 88, 44);
    width: 38px;
    height: 5px;
    border: none;
    position: relative;
}

.nav-burger::before {
    position: absolute;
    content: "";
    left: 0;
    top: -10px;
    display: block;
    background-color: rgb(189, 88, 44);
    width: 38px;
    height: 5px;
    border: none;
}

.nav-burger::after {
    position: absolute;
    content: "";
    left: 0;
    top: 10px;
    display: block;
    background-color: rgb(189, 88, 44);
    width: 38px;
    height: 5px;
    border: none;
}

/* HEADER INDEX*/
.index {
    height: calc(0.5*100vw);
}
.header-index {
    display: block; /* тк это ссылка - задаём ей блок */
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 160px;
    padding: 180px 15px 0px;
    text-decoration: none;
    transition: transform 0.6s cubic-bezier(0.660, 0.215, 0.295, 1.640);
}

.header-index:hover {
    transform: translateY(-5%);
}

.header-index__title {
    margin-bottom: 24px;
    position: relative;
    padding-left: 104px;
    color:#F7CE9D;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
} 

.header-index__title::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);    
    display: block; /* чтобы отображалось ставим контент пустая строка и блок */
    content: "";
    width: 72px;
    height: 2px;
    background-color:#F7CE9D;
}


.header-index__desc {
    margin-bottom: 24px;
    margin-top: 24px;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 1.136;
    text-transform: capitalize;
    color: #FFFFFF;
} 
 
.header-index__scroll {
    position: relative;
    padding-right: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.222;
    color: #FFFFFF;
    display: inline-block;
}

.header-index__scroll::after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 24px;
    background-image: url('./../img/icons/down.svg');
    background-size: cover;
}

/* MAIN ARTICLE */

.article {
    max-width: 90%;
    margin: 0 auto;
}

.article-container {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-container:nth-child(even){
    flex-direction: row-reverse;
}


.article-text {
    padding-left: 100px;
    padding-right: 50px;
    position: relative;
}

.article-text p{
    margin-bottom: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
    color: rgb(41, 12, 8);
} 

.article-text__title {
    margin-bottom: 32px;
    position: relative;
    padding-left: 104px;
    color:rgb(189, 88, 44);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.article-text__title::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);    
    display: block; /* чтобы отображалось ставим контент пустая строка и блок */
    content: "";
    width: 72px;
    height: 2px;
    background-color:rgb(189, 88, 44); 
}

.article-text__desc {
    margin-bottom: 27px;
    max-width: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 1.2;
    color: rgb(41, 12, 8);
}

.article-text__more {
    position: relative;
    padding-right: 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    color: rgb(189, 88, 44); 
    display: inline-block;
}

.article-text__more::after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 16px;
    color: rgb(189, 88, 44); 
    background-image: url('./../img/icons/right.svg');
}

.article-img img {
    display: block;
    max-width: 450px;
}

.bg-img {
    max-width: 1520px;
}
.bg-img img {
    width: 100%;
}


.card-item__btn {
    color: #253421;
    font-size: 20px;
    line-height: 1.18;
    font-weight: 600;
    border-width: 1px;
    border-radius: 40px;
    background-color: rgb(255, 188, 45);
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    width: 200px;
    height: 60px;
}

.card-carousel {
    color: #FFFFFF;
    width: 100%;
    column-gap: 10px;
    justify-content: center;
    margin-bottom: 50px;
}
.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 300px;
    height: 400px;
    margin: 0 15px;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.card-text {
    text-align: center;
}
.card-btn {
    text-align: center;
    padding: 15px;
}


/* SLIDER */
.slider {
    position: relative;
    max-width: 1100px;
    width: 100%;
    padding: 40px 0;
    margin: 0 auto;
}

.slick-dots {
    position: absolute;
    bottom: -40px;
    padding: 0;
}

.slick-dots li + li{
    margin-left: 3px;
}
.slick-dots li button{
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
}

.slick-dots .slick-active button {
    background-color: rgb(189, 88, 44);  
}

.slick-dots li{
    display: inline-block;
}

.btn-slider-prev {
    position: absolute;
    top: 50%;
    cursor: pointer;
    left: -20px;
    font-size: 20px;
    color:rgb(189, 88, 44);
} 

.btn-slider-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    right: -20px;
    font-size: 20px;
    color:rgb(189, 88, 44);
}
.slick-slide {
    margin-left: 15px;
    margin-right: 15px;
}
@media(max-width: 1300px) {
    .header-index {
        padding: 150px 15px 0px;
        max-width: 800px;
    }
    .header-index__desc {
        font-size: 66px;
    }
}

/* FOOTER */
footer {
    height: 50px;
    padding: 20px;
    background-color: rgb(189,88,44);
    color: #FFFFFF;
}

@media(max-width: 1200px) {
    .nav {
        background-color: red;
    }
    .nav-items, .account {
        display: none;
    }
    .btn-burger {
        display: block;
    }
    .header-index {
        padding: 130px 15px 0px;
        max-width: 700px;
    }
    .header-index__title {
        font-size: 14px;
    }
    .header-index__scroll {
        font-size: 14px;
    }
    .header-index__scroll::after {
        width: 14px;
        height: 22px;
    }
    .header-index__desc {
        font-size: 50px;
    }

    .article-text {
        padding-left: 50px;
        padding-right: 30px;
    }

    .article-text p{
        font-size: 16px;
    } 

    .article-text__title {
        margin-bottom: 20px;
        padding-left: 60px;
        font-size: 14px;
        letter-spacing: 3px;
    }

    .article-text__title::before {
        width: 50px;
        height: 1px;
    }
    .article-text__desc {
        margin-bottom: 20px;
        max-width: 450px;
        font-size: 44px;
    }

    .article-text__more {
        font-size: 14px;
    }
    .article-img img {
        max-width: 400px;
    }   
}

@media(max-width: 1000px) {

    .nav {
        background-color: yellow;
    }
    .header-index {
        padding: 80px 15px 0;
        max-width: 500px;
    }
    .header-index__title {
        font-size: 12px;
        margin-bottom: 22px;
    }
    .header-index__scroll {
        font-size: 12px;
    }
    .header-index__scroll::after {
        width: 12px;
        height: 20px;
    }
    .header-index__desc {
        font-size: 40px;
    }
    .logo {
        font-size: 20px;
    }
}
@media(max-width: 900px) {

    .nav {
        background-color:#F7CE9D;
        height: 30px;
        padding: 15px 0;
    }
    .header-index {
        padding: 60px 15px 0;
        max-width: 500px;
    }
    .header-index__title {
        font-size: 12px;
        margin-bottom: 22px;
    }
    .header-index__scroll {
        font-size: 12px;
    }
    .header-index__desc {
        font-size: 36px;
    }
    .logo {
        font-size: 18px;
    }
    .nav-wrapper {
        padding: 0 30px;
    }
    .btn-burger {
        height: 19px; 
    }
    .nav-burger {
        width: 30px;
        height: 3px;
    }
    .nav-burger::before{
        width: 30px;
        height: 3px;
        top: 8px;
    }
    .nav-burger::after {
        width: 30px;
        height: 3px;
        top:-8px;
    }

    .article-text {
        padding-left: 40px;
        padding-right: 20px;
    }

    .article-text p{
        font-size: 14px;
    } 

    .article-text__title {
        margin-bottom: 20px;
        padding-left: 60px;
        font-size: 12px;
        letter-spacing: 3px;
    }

    .article-text__title::before {
        width: 50px;
        height: 1px;
    }
    .article-text__desc {
        margin-bottom: 20px;
        max-width: 400px;
        font-size: 38px;
    }

    .article-text__more {
        font-size: 12px;
    }
    .article-img img {
        max-width: 320px;
    }
}

@media(max-width: 800px) {

    .nav {
        background-color:#F7CE9D;
        height: 30px;
        padding: 15px 0;
    }
    .header-index {
        padding: 60px 15px 0;
        max-width: 500px;
    }
    .header-index__title {
        font-size: 12px;
        margin-bottom: 22px;
    }
    .header-index__scroll {
        font-size: 10px;
    }
    .header-index__scroll::after {
        width: 10px;
        height: 18px;
    }
    .header-index__desc {
        font-size: 36px;
    }
    .logo {
        font-size: 16px;
    }

    .article-container {
        flex-direction: column-reverse;
        align-items: start;
    }
  
    .article-container:nth-child(even){
        flex-direction: column-reverse;
    }


}
@media(max-width: 650px) {

    .nav {
        background-color: black;
        height: 30px;
        padding: 15px 0 5px 0;
    }

    .header-index {
        padding: 50px 10px 0;
        max-width: 300px;
    }
    .header-index__title {
        padding-left: 30px;
        font-size: 11px;
        margin-bottom: 0;
        letter-spacing: 2px;
    }
    .header-index__title::before {
        width: 20px;
    }

    .header-index__scroll {
        font-size: 10px;
    }
    .header-index__scroll::after {
        width: 10px;
        height: 16px;
    }
    .header-index__desc {
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .logo {
        font-size: 14px;
    }
}