/* BASE */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #000;
    color: #fff;  
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
}

main {
    padding: 30px 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

a {
    color:#FFD1A0;
    text-decoration: none;
    cursor: pointer;
}

.body-index {
    max-width: 1520px;
    background-image: url('./../img/bg/bgPpt-shaded.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow-y: auto;
}

.container-page {
    min-height: 100vh;
    flex-direction: column;
}

.container-page main {
    flex: 1;
}

/* .home-color {
    background: linear-gradient(120deg, black, #125751);
} */

.block {
    display: block;
    text-align: center;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

/* HEADER */

/* HEADER NAV*/
.nav {
    width: 100%;
    height: 30px;
    padding: 25px 0;
    background-color: #FFFFFF;
}

.index .nav {
    background-color: unset;
}

.nav-wrapper {
    padding: 0 60px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 28px;
}

.nav-items {
    font-weight: 700;
    font-size: 16px;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li + li{
    margin-left: 40px;
}

.nav a {
    color: #000;
    transition: all 0.3s;
}

.nav a:hover {
    opacity: 0.6;
}

.account a{
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s;
}

.account a:hover {
    opacity: 0.6;
}

.btn-burger {
    display: none;
    border: none;
    padding: 0;
    height: 25px;
    cursor: pointer;
    background: transparent;
    position: relative;
    z-index: 10;
}

.nav-burger {
    display: block;
    background-color: #000;
    width: 38px;
    height: 4px;
    border: none;
    position: relative;
}

.nav-burger::before {
    position: absolute;
    content: "";
    display: block;
    width: 38px;
    height: 4px;
    left: 0;
    top: -10px;
    background-color: #000;
    border: none;
}

.nav-burger::after {
    position: absolute;
    content: "";
    display: block;
    width: 38px;
    height: 4px;
    left: 0;
    top: 10px;
    background-color: #000;
    border: none;
}

.mobile-nav {
    position: fixed;
    top:0;
    right: -320px;
    width: 290px;
    height: 100%;
    padding: 70px 15px;
    background-color: rgb(41, 12, 8, 0.9);
    transition: all 0.5s ease-in-out;
    z-index: 9;
}

.mobile-nav a {
    color: #F7CE9D;
}

.mobile-nav ul{
    list-style-type: none;
}

.mobile-nav ul .footer-links{
    display: none;
}

.mobile-nav li {
    margin-bottom: 10px;
    font-weight: 700;
}

.mobile-nav-active {
    right: 0px !important;
}

.mobile-nav-close .nav-burger {
    background-color: transparent;
}

.mobile-nav-close .nav-burger::after {
    /* background-color: #FFC178; */
    transform: rotate(45deg);
    top: 0;
}

.mobile-nav-close .nav-burger::before {
    /* background-color: #FFC178; */
    transform: rotate(-45deg);
    top: 0;
}

/* HEADER INDEX*/
.index {
    height: calc(0.5*100vw);
}

.header-index {
    position: relative;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 180px 15px 0px;
    transition: transform 0.6s cubic-bezier(0.660, 0.215, 0.295, 1.640);
}

.header-index:hover {
    transform: translateY(-5%);
}

.header-index__title {
    position: relative;
    margin-bottom: 24px;
    padding-left: 104px;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
} 

.header-index__title::before {
    position: absolute;
    display: block; 
    content: ""; /* чтобы отображалось ставим контент пустая строка */
    width: 72px;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);    
    background-color:#FFFFFF;
}

.header-index__desc {
    margin-bottom: 24px;
    margin-top: 24px;
    /* font-family: 'Playfair Display', sans-serif; */
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.136;
    color: #FFFFFF;
} 

header .footer-links {
    position: absolute;
    top: 300px;
    left: 60px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.linkPic {
    width: 22px;
    border-radius: 20%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.linkPic:hover {
    scale: 1.1;
}

.header-index__scroll {
    display: inline-block;
    position: relative;
    padding-right: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.222;
}

.header-index__scroll::after {
    position: absolute;
    display: block;
    content: "\2193";
    font-size: 24px;
    width: 16px;
    height: 22px;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
    color: #FFD1A0;
    /* background-image: url('./../img/icons/down.svg'); */
    background-size: cover;
}

/* MAIN ARTICLE */

/* breadcrumbs */
.breadcrumbs-container {
    margin: 20px 0;
}

.breadcrumbs-list {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.breadcrumbs > a, .breadcrumbs-list li {
    display: inline-block;
    margin-right: 18px;
    transition: all 0.3s ease-in-out;
}

.breadcrumbs > a, .breadcrumbs-list li > a {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.breadcrumbs > a::after, .breadcrumbs-list li > a::after {
    content: '>';
    position: absolute;
    right: -14px;
    top: 0;
}

.breadcrumbs > a, .breadcrumbs-list li > a:hover {
    color: #ffffffc4;
}

.article {
    max-width: 90%;
    margin: 0 auto;
}

.article-container {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.article-container:nth-child(even){
    flex-direction: row-reverse;
}

.article-text {
    position: relative;
    padding-left: 100px;
    padding-right: 50px;
}

.article-text p{
    margin-bottom: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
    color: #FFFFFF;
} 

.article-text__title {
    position: relative;
    margin-bottom: 32px;
    padding-left: 104px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFD1A0;
}

.article-text__title::before {
    position: absolute;
    display: block; 
    content: "";
    width: 72px;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);    
    background-color:#FFD1A0; 
}

.article-text__desc {
    margin-bottom: 27px;
    max-width: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 1.2;
    color: #FFFFFF;
}

.article-text__more {
    position: relative;
    padding-right: 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    display: inline-block;
}

.article-text__more::after {
    position: absolute;
    display: block;
    content: "\2192";
    width: 24px;
    height: 32px;
    right: 0;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
    /* background-image: url('./../img/icons/right.svg'); */
}

.article-img img {

    max-width: 450px;
}


/* КОНТЕЙНЕР С КАРТОЧКАМИ НА ГЛАВНОЙ */

/* КАРТОЧКИ ТУРОВ-МЕСТ НА ГЛАВНОЙ */

/* кнопка внутри карточки */
.card-item__btn {
    width: 150px;
    height: 40px;
    color: #253421;
    font-size: 18px;
    line-height: 1.18;
    font-weight: 600;
    border-width: 3px;
    border-radius: 40px;
    background-color: #2dffe2;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

/* общая желтая кнопка с ховер-эффектом */
.btn-yellow {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-yellow:hover {
    background-color: #FFFFFF;
}

.card-carousel {
    width: 100%;
    column-gap: 10px;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}

.card-item {
    position: relative;
    width:300px;
    height: 400px; 
    padding: 15px;
    margin: 0 15px;
    text-align: center;
    background-position: center center;
    background-size: cover;
    cursor:pointer;
    overflow: hidden;
}

.card-item__title > h3 {
    background-color: rgba(255, 255, 255, 0.774);
    padding: 5px 15px;
    display: inline-block;
    border-radius: 15px;
    overflow-wrap: anywhere;
}
.card-item__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    z-index: -1;
    transition: all 0.5s;
}

.card-item:hover .card-item__img {
    transform: scale(1.1);
}
.card-item__desc {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.774);
    font-weight: 500;
    margin-top: 10px;
    border-radius: 15px;
    padding: 5px 15px;
    overflow-wrap: anywhere;
}

.catalog-card {
    position: relative;
    flex-direction: column;
    color: #000;
    margin: 15px;
    border-radius: 20px;
}

.card-text > h2 {
    text-align: center;
    padding: 30px 0;
}

/* .card-btn {
    text-align: center;
    margin: 30px auto;
}

.card-btn .card-item__btn {
    width: 200px;
    height: 60px;
} */

.btn-big {
    width: 200px;
    height: 60px;
    margin: 20px auto 30px auto;
}

.catalog-btn {
    position: absolute;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}


/* SLIDER */
.slider {
    position: relative;
    max-width: 90%;
    /* padding: 40px 0; */
    margin: 0 auto;
}

.slider-container {
    display: flex;
    flex-direction: column;
}

.slick-dots {
    position: absolute;
    bottom: -40px;
    padding: 0;
}

.slick-dots li + li{
    margin-left: 3px;
}

.slick-dots li button{
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
}

.slick-dots .slick-active button {
    background-color: #FFD1A0;  
}

.slick-dots li{
    display: inline-block;
}

.btn-slider-prev {
    position: absolute;
    top: 50%;
    cursor: pointer;
    left: -20px;
    font-size: 20px;
    color:#FFD1A0;
} 

.btn-slider-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    right: -20px;
    font-size: 20px;
    color:#FFD1A0;
}

.two-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

/* FOOTER */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 90%; */
    padding: 30px 5%;
    align-items: center;
    color:#FFFFFF;
    box-shadow: 0px 0px 1px 1px white;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.footer-nav .logo {
    font-size: 20px;
    color: #FFD1A0;
}

.footer-menu_container {
    display: flex;
    flex: 0 0 55%;
    gap: 41px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-nav__title {
    margin: 0;
    color: #FFD1A0;
}

.footer-nav__links {
    margin-top: 15px;
}

.footer-nav__links > a {
    display: block;
    color: #FFFFFF;
    margin-bottom: 7px;
    transition: all 0.3s ease-in-out;
}

.footer-nav__links > a:hover {
    color: #ffffffc4;
}

.credits {
    font-size: 14px;
    color: #FFD1A0;
    font-weight: 600;
}

.height-card-item {
    height: 385px;
}

/* ПАНОРАМА */

.bg-img {
    max-width: 100vw;
    height: calc(100vw/3.24);
    max-height: 500px;
    background-image: url('../img/bg/panorama1.jpg');
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    transition: all 0.4s;

}
.bg-gost-white {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}
.bg-img:hover .bg-gost-white {
    opacity: 1;
}

.btn-panorama {
    width: 200px;
    height: 60px;
}

@media(max-width: 1300px) {
    .header-index {
        padding: 150px 15px 0px;
        max-width: 800px;
    }
    .height-card-item {
        height: calc(100vw/3.05); 
    }
    header .footer-links {
        top: 286px;
    }
}

@media(max-width: 1200px) {
    .logo {
        font-size: 24px;
    }
    .nav-items, .account {
        display: none;
    }
    .btn-burger {
        display: block;
    }
    .mobile-nav-close .nav-burger::before {
        background-color: #FFFFFF;
    }
    .mobile-nav-close .nav-burger::after {
        background-color: #FFFFFF;
    }
    .header-index {
        padding: 130px 15px 0px;
        max-width: 700px;
    }
    header .footer-links {
        top: 240px;
    }
    .header-index__title {
        font-size: 14px;
    }
    .header-index__scroll {
        font-size: 14px;
    }
    .header-index__scroll::after {
        font-size: 20px;
    }
    .header-index__desc {
        font-size: 50px;
    }

    .article-text {
        padding-left: 50px;
        padding-right: 30px;
    }

    .article-text p{
        font-size: 16px;
    } 

    .article-text__title {
        margin-bottom: 20px;
        padding-left: 60px;
        font-size: 14px;
        letter-spacing: 3px;
        color: #FFD1A0;
    }

    .article-text__title::before {
        width: 50px;
        height: 1px;
    }

    .article-text__desc {
        margin-bottom: 20px;
        max-width: 450px;
        font-size: 44px;
    }

    .article-text__more {
        font-size: 14px;
    }
    .article-img img {
        max-width: 400px;
    }   

}

@media(max-width: 1000px) {

    .height-card-item {
        margin-left: 25px;
        margin-right: 25px;
        height: calc(100vw/2.2); 
    }
    .header-index {
        padding: 80px 15px 0;
        max-width: 500px;
    }
    header .footer-links {
        top: 175px;
    }
    .header-index__title {
        font-size: 12px;
        margin-bottom: 22px;
    }
    .header-index__scroll {
        font-size: 12px;
    }
    .header-index__scroll::after {
       font-size: 18px;
    }
    .header-index__desc {
        font-size: 40px;
    }
    .article-text__desc {
        font-size: 34px;
    }
    .logo {
        font-size: 20px;
    }
    .plus-one-btn .btn-big {
            width: 150px;
            height: 40px;
            margin: 0;
    }

}
@media(max-width: 900px) {

    .nav {
        height: 30px;
        padding: 15px 0;
    }
    .header-index {
        padding: 60px 15px 0;
        max-width: 500px;
    }
    header .footer-links {
        top: 135px;
        left: 30px;
    }
    .logo {
        font-size: 18px;
    }
    .footer-nav .logo{
        font-size: 16px;
    }
    .footer-nav {
        font-size: 14px;
    }
    .nav-wrapper {
        padding: 0 30px;
    }
    .btn-burger {
        height: 19px; 
    }
    .nav-burger {
        width: 30px;
        height: 3px;
    }
    .nav-burger::before{
        width: 30px;
        height: 3px;
        top: 8px;
    }
    .nav-burger::after {
        width: 30px;
        height: 3px;
        top:-8px;
    }

    .article-text {
        padding-left: 40px;
        padding-right: 20px;
    }

    .article-text p{
        font-size: 14px;
    } 

    .article-text__title {
        margin-bottom: 20px;
        padding-left: 60px;
        font-size: 14px;
        letter-spacing: 3px;
    }

    .article-text__title::before {
        width: 50px;
        height: 1px;
    }
    .article-text__desc {
        margin-bottom: 20px;
        max-width: 400px;
        font-size: 34px;
    }

    .article-text__more {
        font-size: 14px;
    }
    .article-img img {
        max-width: 320px;
    }
}

@media(max-width: 800px) {

    .linkPic {
        width: 18px;
    }
    .header-index__title {
        font-size: 12px;
        margin-bottom: 22px;
    }
    .header-index__scroll {
        font-size: 10px;
    }
    .header-index__desc {
        font-size: 36px;
    }
    .logo {
        font-size: 16px;
    }

    .article-container {
        flex-direction: column-reverse;
        align-items: start;
        margin-bottom: 50px;
    }

    .article-container:nth-child(even){
        flex-direction: column-reverse;
    }

    .article-img .small-img {
        display: none;
    }

    .article-img img {
        max-width: 600px;
        margin-bottom: 15px;
    } 

    .article-img .big-img {
        display: block;
    }

    .article-img {
        margin: 0 auto;
    }

    iframe {
        height: 300px;
    }
    .bg-img {
        height: calc(100vw/2.5);
    }

}
@media(max-width: 650px) {
    header .footer-links {
        top: 80px;
    }
    .height-card-item {
        margin-left: 15px;
        margin-right: 15px;
    }
    .nav {
        height: 30px;
        padding: 15px 0 5px 0;
    }

    .header-index {
        padding: 50px 10px 0;
        max-width: 300px;
    }
    .header-index__title {
        padding-left: 30px;
        font-size: 11px;
        margin-bottom: 0;
        letter-spacing: 2px;
    }
    .header-index__title::before {
        width: 20px;
    }

    .header-index__scroll {
        font-size: 10px;
    }
    .header-index__scroll::after {
        font-size: 16px;
        top: 50%;
    }
    .header-index__desc {
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .logo {
        font-size: 14px;
    }
    .article-img img {
        max-width: 400px;
    } 
    iframe {
        height: 240px;
    }
    .footer-nav {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .height-card-item__title > h3 {
        font-size: 14px;
    }
    .height-card-item__desc {
        font-size: 12px;
    }
    .bg-img {
        height: calc(100vw/2.4);
    }
}

@media(max-width: 550px) {
    .breadcrumbs-list {
        flex-wrap: wrap;
    }
    .height-card-item {
        margin-left: 50px;
        margin-right: 50px;
        height: calc(100vw/1.2); 
    }
    .btn-slider-next {
        right: -10px;
    }
    .btn-slider-prev {
        left: -10px;
    }
    .height-card-item__title > h3 {
        font-size: 16px;
    }
    .height-card-item__desc {
        font-size: 14px;
    }
    .bg-img {
        height: calc(100vw/2);
    }
}

@media(max-width: 520px) {
    header .footer-links {
        display: none;
    }
    .mobile-nav ul .footer-links{
        display: flex;
        position: inherit;
        flex-direction: row;
        gap: 7px;
        top: unset;
        left: unset;
        flex-wrap: wrap;
    }
    .two-buttons {
        flex-direction: column;
        align-items: center;
    }
    .btn-big {
        width: 150px;
        height: 40px;
        margin: 0;
        margin-bottom: 30px;
    }
    .breadcrumbs-container {
        display: none;
    }
}

@media(max-width: 450px) {

    .article-img img {
        max-width: 300px;
    } 
    .article-text p{
        font-size: 12px;
    } 

    .article-text__title {
        font-size: 12px;
    }

    .article-text__desc {
        max-width: 200px;
        font-size: 24px;
    }

    .article-text__more {
        font-size: 12px;
    }

    .header-index {
        padding: 0;

    }

    .header-index__desc {
        max-width: 250px;
        font-size: 20px;
    }
    .header-title {
        font-size: 8px; 
    }
    iframe {
        height: 200px;
    }
    .footer-menu_container {
        flex-direction: column;
        gap: 10px;
    }
    .footer-nav__item {
        text-align: center;
    }
    .bg-img {
        height: calc(100vw/1.8);
    }
}
@media (max-width: 420px) {
    .height-card-item {
        margin-left: 20px;
        margin-right: 20px;
    }

}
@media(max-width: 350px) {
    .header-index {
        padding: 15px;
    }
    .article-img img {
        max-width: 250px;
    }
    .header-index__desc {
        font-size: 18px;
        }
    .breadcrumbs-list {
        padding-left: 25px;
    }
    .card-text > h2 {
        font-size: 14px;
    }
    .height-card-item__title > h3 {
        font-size: 14px;
    }
    .height-card-item__desc {
        font-size: 12px;
    }
    .height-card-item__btn {
        font-size: 14px;
    }
    .height-card-item {
        margin-left: 10px;
        margin-right: 10px;

    }
    .card-item {
        width: 250px;
        height: 360px;
    }
    .bg-img {
        height: calc(100vw/1.5);
    }
}