/* BASE */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #F7CE9D;
    color: rgb(189, 88, 44);  
}

main {
    padding: 30px 0;
}

a {
    color:rgb(189, 88, 44);
    text-decoration: none;
    cursor: pointer;
}

.body-index {
    max-width: 1520px;
    background-image: url('./../img/bg/bgPpt.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow-y: auto;
}

.container-page {
    min-height: 100vh;
    flex-direction: column;
}

.container-page main {
    flex: 1;
}

.block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

/* HEADER */

/* HEADER NAV*/
.nav {
    width: 100%;
    height: 30px;
    padding: 25px 0;
}

.nav-wrapper {
    padding: 0 60px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 28px;
}

.nav-items {
    font-weight: 700;
    font-size: 16px;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li + li{
    margin-left: 40px;
}

.nav a {
    transition: color 0.3s ease-in-out;
}

.nav a:hover {
    color: rgb(169, 93, 93);
}

.account a{
    font-weight: 700;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.account a:hover {
    color: rgb(169, 93, 93);
}

.btn-burger {
    display: none;
    border: none;
    padding: 0;
    height: 25px;
    cursor: pointer;
    background: transparent;
    position: relative;
    z-index: 10;
}

.nav-burger {
    display: block;
    background-color: rgb(189, 88, 44);
    width: 38px;
    height: 4px;
    border: none;
    position: relative;
}

.nav-burger::before {
    position: absolute;
    content: "";
    display: block;
    width: 38px;
    height: 4px;
    left: 0;
    top: -10px;
    background-color: rgb(189, 88, 44);
    border: none;
}

.nav-burger::after {
    position: absolute;
    content: "";
    display: block;
    width: 38px;
    height: 4px;
    left: 0;
    top: 10px;
    background-color: rgb(189, 88, 44);
    border: none;
}

.mobile-nav {
    position: fixed;
    top:0;
    right: -320px;
    width: 290px;
    height: 100%;
    padding: 70px 15px;
    background-color: rgb(41, 12, 8, 0.9);
    transition: all 0.5s;
    z-index: 9;
}

.mobile-nav a {
    color: #F7CE9D;
}
.mobile-nav ul{
    list-style-type: none;
}

.mobile-nav li {
    margin-bottom: 10px;
    font-weight: 700;
}

.mobile-nav-active {
    right: 0px !important;
}

.mobile-nav-close .nav-burger {
    background-color: transparent;
}

.mobile-nav-close .nav-burger::after {
    background-color: #F7CE9D;
    transform: rotate(45deg);
    top: 0;
}

.mobile-nav-close .nav-burger::before {
    background-color: #F7CE9D;
    transform: rotate(-45deg);
    top: 0;
}

/* HEADER INDEX*/
.index {
    height: calc(0.5*100vw);
}

.header-index {
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 180px 15px 0px;
    transition: transform 0.6s cubic-bezier(0.660, 0.215, 0.295, 1.640);
}

.header-index:hover {
    transform: translateY(-5%);
}

.header-index__title {
    position: relative;
    margin-bottom: 24px;
    padding-left: 104px;
    color:#F7CE9D;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
} 

.header-index__title::before {
    position: absolute;
    display: block; 
    content: ""; /* чтобы отображалось ставим контент пустая строка */
    width: 72px;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);    
    background-color:#F7CE9D;
}

.header-index__desc {
    margin-bottom: 24px;
    margin-top: 24px;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 1.136;
    text-transform: capitalize;
    color: #FFFFFF;
} 

.header-index__scroll {
    display: inline-block;
    position: relative;
    padding-right: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.222;
    color: #FFFFFF;
}

.header-index__scroll::after {
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 24px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('./../img/icons/down.svg');
    background-size: cover;
}

/* MAIN ARTICLE */

.article {
    max-width: 90%;
    margin: 0 auto;
}

.article-container {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.article-container:nth-child(even){
    flex-direction: row-reverse;
}

.article-text {
    position: relative;
    padding-left: 100px;
    padding-right: 50px;
}

.article-text p{
    margin-bottom: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
    color: rgb(41, 12, 8);
} 

.article-text__title {
    position: relative;
    margin-bottom: 32px;
    padding-left: 104px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.article-text__title::before {
    position: absolute;
    display: block; 
    content: "";
    width: 72px;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);    
    background-color:rgb(189, 88, 44); 
}

.article-text__desc {
    margin-bottom: 27px;
    max-width: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 1.2;
    color: rgb(41, 12, 8);
}

.article-text__more {
    position: relative;
    padding-right: 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    display: inline-block;
}

.article-text__more::after {
    position: absolute;
    display: block;
    content: "";
    width: 24px;
    height: 16px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('./../img/icons/right.svg');
}

.article-img img {

    max-width: 450px;
}

/* ПАНОРАМА */
.bg-img {
    max-width: 100vw;
}
.bg-img img {
    width: 100%;
}


/* КАРТОЧКИ ТУРОВ-МЕСТ НА ГЛАВНОЙ */

/* кнопка внутри карточки */
.card-item__btn {
    width: 150px;
    height: 40px;
    color: #253421;
    font-size: 18px;
    line-height: 1.18;
    font-weight: 600;
    border-width: 1px;
    border-radius: 40px;
    background-color: rgb(255, 188, 45);
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

/* общая желтая кнопка с ховер-эффектом */
.btn-yellow {
    cursor: pointer;
    transition: all 0.3s;
}

.btn-yellow:hover {
    background-color: rgb(255 174 0);
}

.card-carousel {
    width: 100%;
    column-gap: 10px;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}

.card-item {
    width: 300px;
    height: 400px;
    padding: 15px;
    margin: 0 15px;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.card-item__title > h3 {
    background-color: rgba(255, 255, 255, 0.774);
    padding: 5px 15px;
    display: inline;
    border-radius: 15px;
}

.card-item__desc {
    background-color: rgba(255, 255, 255, 0.774);
    font-weight: 500;
    margin-top: 10px;
    border-radius: 15px;
    padding: 5px;
}

.catalog-card {
    position: relative;
    flex-direction: column;
    color: #000;
    margin: 15px;
}

.card-text {
    text-align: center;
}

.card-btn {
    text-align: center;
    margin: 30px auto;
}

.card-btn .card-item__btn {
    width: 200px;
    height: 60px;
}

.catalog-btn {
    position: absolute;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}


/* SLIDER */
.slider {
    position: relative;
    width: 100%;
    max-width: 1100px;
    padding: 40px 0;
    margin: 0 auto;
}

.slick-dots {
    position: absolute;
    bottom: -40px;
    padding: 0;
}

.slick-dots li + li{
    margin-left: 3px;
}

.slick-dots li button{
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
}

.slick-dots .slick-active button {
    background-color: rgb(189, 88, 44);  
}

.slick-dots li{
    display: inline-block;
}

.btn-slider-prev {
    position: absolute;
    top: 50%;
    cursor: pointer;
    left: -20px;
    font-size: 20px;
    color:rgb(189, 88, 44);
} 

.btn-slider-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    right: -20px;
    font-size: 20px;
    color:rgb(189, 88, 44);
}

/* FOOTER */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding: 30px 5%;
    align-items: center;
    background-color: rgb(189,88,44);
    color:#FFFFFF;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.footer-nav .logo {
    font-size: 20px;
}

.footer-menu_container {
    display: flex;
    flex: 0 0 55%;
    gap: 41px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    column-gap: 15px;
}

.linkPic {
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

.linkPic:hover {
    scale: 1.2;
}

.footer-nav__title {
    margin: 0;
}

.footer-nav__links {
    margin-top: 15px;
}

.footer-nav__links > a {
    display: block;
    color: #FFFFFF;
    margin-bottom: 7px;
    transition: all 0.3s;
}

.footer-nav__links > a:hover {
    color: #ffffffc4;
}

@media(max-width: 1300px) {
    .header-index {
        padding: 150px 15px 0px;
        max-width: 800px;
    }
}

@media(max-width: 1200px) {
    .logo {
        font-size: 24px;
    }
    .nav-items, .account {
        display: none;
    }
    .btn-burger {
        display: block;
    }
    .header-index {
        padding: 130px 15px 0px;
        max-width: 700px;
    }
    .header-index__title {
        font-size: 14px;
    }
    .header-index__scroll {
        font-size: 14px;
    }
    .header-index__scroll::after {
        width: 14px;
        height: 22px;
    }
    .header-index__desc {
        font-size: 50px;
    }

    .article-text {
        padding-left: 50px;
        padding-right: 30px;
    }

    .article-text p{
        font-size: 16px;
    } 

    .article-text__title {
        margin-bottom: 20px;
        padding-left: 60px;
        font-size: 14px;
        letter-spacing: 3px;
    }

    .article-text__title::before {
        width: 50px;
        height: 1px;
    }

    .article-text__desc {
        margin-bottom: 20px;
        max-width: 450px;
        font-size: 44px;
    }

    .article-text__more {
        font-size: 14px;
    }
    .article-img img {
        max-width: 400px;
    }   
    .slider {
        max-width: 900px;
    }
    .card-item {
        height: 320px;
    }
}

@media(max-width: 1000px) {

    .header-index {
        padding: 80px 15px 0;
        max-width: 500px;
    }
    .header-index__title {
        font-size: 12px;
        margin-bottom: 22px;
    }
    .header-index__scroll {
        font-size: 12px;
    }
    .header-index__scroll::after {
        width: 12px;
        height: 20px;
    }
    .header-index__desc {
        font-size: 40px;
    }
    .article-text__desc {
        font-size: 34px;
    }
    .logo {
        font-size: 20px;
    }
    .slider {
        max-width: 650px;
    }
    .card-item {
        height: 355px;
    }
}
@media(max-width: 900px) {

    .nav {
        height: 30px;
        padding: 15px 0;
    }
    .header-index {
        padding: 60px 15px 0;
        max-width: 500px;
    }
    .logo {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .footer-nav .logo{
        font-size: 16px;
    }
    .footer-nav {
        font-size: 14px;
    }
    .nav-wrapper {
        padding: 0 30px;
    }
    .btn-burger {
        height: 19px; 
    }
    .nav-burger {
        width: 30px;
        height: 3px;
    }
    .nav-burger::before{
        width: 30px;
        height: 3px;
        top: 8px;
    }
    .nav-burger::after {
        width: 30px;
        height: 3px;
        top:-8px;
    }

    .article-text {
        padding-left: 40px;
        padding-right: 20px;
    }

    .article-text p{
        font-size: 14px;
    } 

    .article-text__title {
        margin-bottom: 20px;
        padding-left: 60px;
        font-size: 14px;
        letter-spacing: 3px;
    }

    .article-text__title::before {
        width: 50px;
        height: 1px;
    }
    .article-text__desc {
        margin-bottom: 20px;
        max-width: 400px;
        font-size: 34px;
    }

    .article-text__more {
        font-size: 14px;
    }
    .article-img img {
        max-width: 320px;
    }
}

@media(max-width: 800px) {

    .header-index__title {
        font-size: 12px;
        margin-bottom: 22px;
    }
    .header-index__scroll {
        font-size: 10px;
    }
    .header-index__scroll::after {
        width: 10px;
        height: 18px;
    }
    .header-index__desc {
        font-size: 36px;
    }
    .logo {
        font-size: 16px;
    }

    .article-container {
        flex-direction: column-reverse;
        align-items: start;
        margin-bottom: 50px;
    }

    .article-container:nth-child(even){
        flex-direction: column-reverse;
    }

    .article-img .small-img {
        display: none;
    }

    .article-img img {
        max-width: 600px;
        margin-bottom: 15px;
    } 
    .article-img .big-img {
        display: block;
    }
    .slider {
        max-width: 550px;
    }
    .card-item {
        height: 285px;
    }
    iframe {
        height: 300px;
    }

}
@media(max-width: 650px) {

    .nav {
        height: 30px;
        padding: 15px 0 5px 0;
    }

    .header-index {
        padding: 50px 10px 0;
        max-width: 300px;
    }
    .header-index__title {
        padding-left: 30px;
        font-size: 11px;
        margin-bottom: 0;
        letter-spacing: 2px;
    }
    .header-index__title::before {
        width: 20px;
    }

    .header-index__scroll {
        font-size: 10px;
    }
    .header-index__scroll::after {
        width: 10px;
        height: 16px;
    }
    .header-index__desc {
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .logo {
        font-size: 14px;
    }
    .article-img img {
        max-width: 400px;
    } 
    .slider {
        max-width: 350px;
    }
    .card-item {
        height: 385px;
    }
    iframe {
        height: 240px;
    }
    .footer-nav {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

@media(max-width: 450px) {
    .slider {
        max-width: 280px;
    }
    .card-item {
        height: 290px;
    }
    .article-img img {
        max-width: 300px;
    } 
    .article-text p{
        font-size: 12px;
    } 

    .article-text__title {
        font-size: 12px;
    }

    .article-text__desc {
        max-width: 200px;
        font-size: 24px;
    }

    .article-text__more {
        font-size: 12px;
    }

    .header-index {
        padding: 0;

    }

    .header-index__desc {
        max-width: 250px;
        font-size: 20px;
    }
    .header-title {
        font-size: 8px; 
    }
    iframe {
        height: 200px;
    }
    .footer-menu_container {
        flex-direction: column;
        gap: 10px;
    }
    .footer-nav__item {
        text-align: center;
    }
}
@media(max-width: 350px) {
    .article-img img {
        max-width: 250px;
    }
    .slider {
        max-width: 200px;
    }
    .card-item {
        height: 185px;
    }
    .header-index__desc {
        font-size: 18px;
        }
}