body {
    margin: 0;
    padding: 0;
    background-color: #F6f6f6;
    color: #6e6e6e;
    /* font-family: 'Roboto', sans-serif; */
}
input, textarea {
    box-sizing: border-box;
    padding: 10px;
    margin: 8px;
    border-radius: 8px;
    outline: 0;
    border: solid #F5F5F5 1.5px;
    color: #6e6e6e;
    min-width: 250px;
}
input::placeholder {
    opacity: 0.5;
}
input:focus, textarea:focus {
    border-color: #ade7e2;
}
#new-img-carousel:focus, #new-img-title:focus,
#new-img-carousel, #new-img-title {
    border:none;
}

button, .btn-admin {
    border-radius: 10px;
    border-color: #ade7e2;
    background-color: #5bcfc5;
    color: #ffffff;
    cursor: pointer;
    border: none;
    transition: all 0.4s;
    padding: 8px 15px;
    min-width: 80px;
}
button:hover, .btn-admin:hover {
    background-color: #49a69e;
}
form {
    border-radius: 10px;
    padding: 25px;
}

.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.cursor{
    cursor: pointer;
}


#containerPage{
    /* height: 100vh; */
    background-color: #F6f6f6;
    color: #969ba0; 
    margin-left: 280px;
}


.index {
    margin: 0!important;
}
.index .cabinet {
    margin-left: 280px;
}

.menu-left {
    position: fixed;
    left: 0;
    top: 80px;
    width: 280px;
    height: calc(95vh - 60px);
    margin: 0 20px;
    background-color: #FFFFFF;
    padding: 30px 0px;
    border-radius: 15px;
    z-index: 2;
}

.menu-left__items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.menu-top {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 15px;
    background-color: #ffffff;
    z-index: 2;
}
.cabinet {
    position: relative;
    margin-top: 90px;
}
.work-area {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.work-area form{
    background-color: #FFFFFF;
}
.work-area__title{
    margin-bottom: 20px;
    text-align: center;
    background-color: #F6f6f6;
}


/* карточки */
.card-item, .hotel-item {
    width: 200px;
    height: 266px;
    font-size: 11px;
    border-radius:10px;

}
.card-item h3, .hotel-item h3{
    font-size: 14px;
}
.catalog-card_effect {
    opacity: 1;
}
.hotel-item__img-container {
    height: 50%;
}
.hotel-item__title {
    height: 20%;
}
.hotel-item .delete-card {
    margin-left: 15px;
}
.btn-black {
    width: 150px;
    font-size: 16px;
    margin: 5px 0;
    transition: all 0.3s;
}

.btn-yellow {
    width: 150px;
    font-size: 16px;

}
.btn-delete {
    background-color: #fee6ea;
    color: #f72b50;
}
.btn-delete:hover {
    background-color: #f72b50;
    color: #ffffff;
}
.catalog-card_effect:hover .edit-card{
    display: flex;
}
.edit-card {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.85);
}

.delete-card {
    position: absolute;
    top: 33%;
    z-index: 9;
    width: 170px;
    height: 40%;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;

}
.delete-card-guide{
    position: absolute;
    top: 10%;
    left: 20%;
    z-index: 9;
    width: 60%;
    height: 80%;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}
.delete-card a {
    color: red;
}

.edit-contacts__form {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 800px;
}

.edit-tour, .edit-place {
    background-color: #FFFFFF;
    width: 800px;
    border-radius: 10px;
}

.edit-tour form, .edit-place form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.img-carousel {
    width: 500px;
}

.img-carousel-item {
    position: relative;
    margin-bottom: 10px;
}

.delete-img-carousel {
    position: absolute;
    top: 0;
    left:100px;
    width: 300px;
    height: 70px;
    padding-left: 10px;
    background-color: #ffffff;
    z-index: 9;
}
.delete-img-carousel .btn-delete {
    text-align: center;
}

.delete-true {
    color: red;
}

.img-title-prew img{
    width: 150px; 
    height: 200px;
}
.img-title-prew-hotel img{
    width: 300px; 
    height: 180px;
}
.img-title-prew-guide img{
    width: 200px; 
    height: 300px;
}
.img-carousel-prew img {
    width: 100px;
    display: block;
    margin: 10px 0;

}
.logo {
    font-size: 20px;

    font-weight: 700;

}
.profile-name {
    margin-right: 20px;
    font-size: 12px;
}
.profile-name h3 {
    font-size: 16px;
    text-align: right;
    margin-bottom: 0;
}
.menu-left ul {
    list-style: none;
    margin: 30px 0 15px 0;
    padding: 10px;
}
.menu-left ul li{
    padding-bottom: 10px;
}
.btn-reset {
    display: inline-block;
    color: #6e6e6e;
    background-color: #eeeeee;

}
.btn-reset:hover {
    background-color: #6e6e6e;
    color: #FFFFFF;
}
a {
    color: #6e6e6e;
    text-decoration: none;
}
a:hover {
    color: #5bcfc5; 
}

#short-desc {
    width: 500px;
    height: 150px;
}
#full-desc {
    width: 500px;
    min-width: 400px;
    height: 200px;
}

.menu-left__list {
    margin-bottom: 50px;
}

.menu-left__list div{
    width: 100%;
    padding: 15px 20px;
}
.menu-left__list div:hover{
    background-color: #F5F5F5;
    cursor: pointer;
    color:#5bcfc5;
}
.menu-left__list div:hover a{
    color: #5bcfc5;
}
.form-add-account {
    width: 800px;
}
.form-add-account p,
.edit-contacts__form p,
.edit-tour__form p,
.edit-place__form p {
    margin-bottom:0;
    margin-top:20px;
    margin-left: 10px;
}
.edit-contacts__form p{
    margin-bottom:0;
    margin-top:20px;
    margin-left: 10px;
}

.info {
    margin-top: 10px;
    padding-left: 10px;
}

.list-admin-panel {
    width: 400px;
    height: 200px;
    margin: 30px;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    transition: all 0.3s;
}

.list-admin-panel:hover {
   transform: scale(1.1);
}

.list-admin-panel > a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    padding: 30px 20px;
}


.list-ap-img img{
    width: 50px;
}
.d-flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.guide-item {
    margin-bottom: 15px;
}
.photo-guide {
    width:300px;
    height: 180px;
    text-align: center;
}
.img-guide img{
    width: 300px;
    height: 90px;
}
.photo-guide img {
    height: 100%;
    width: auto;
}
.tour-card {
    border-radius: unset;
}