body {
    margin: 0;
    padding: 0;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
#containerPage{
    height: 100vh;
    background-image: url('../../../client/img/bg/bgPpt.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-color: #F7CE9D;
    color: rgb(189, 88, 44);  
}
/* ---------------------- LOGIN ------------------------ */

.mainBlock {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 0.5s;
}


.container {
    width: 800px;
    height: 500px;
    padding: 40px 0;

    position: relative;
}

/* Внутренний блок */

.block {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
}

.block-item {
    width: 50%;
}

.block-item {
    text-align: center;
}

.block-item__title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.block-item__btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

/* Блок формы */

.form-box {
    background-color: #F7CE9D;
    color: rgb(189, 88, 44); 
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 45px rgba (0, 0, 0, 0.25);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    transition: 0.5s ease-in-out;

    display: flex;
    align-items: center;

    overflow: hidden;
}

.form-box.active {
    left: 50%;
}

/* Форма */

.form {
    width: 100%;
    padding: 50px;
    font-size: 16px;

    position: absolute;
    transition: 0.5s;
}

.form_signin {
    left: 0;
    transition-delay: 0.25s;
}

.form_signup {
    left: 100%;
    transition-delay: 0s;
}

.form-box.active .form_signin {
    left: -100%;
    transition-delay: 0s;
}

.form-box.active .form_signup {
    left: 0;
    transition-delay: 0.25s;
}

.form__orderInner {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

.form__input {
    width: 100%;
    padding: 10px;
    border: solid 1px #333;
    font-size: inherit;
}

.form__btn {
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: black;
    color: #fff;
    padding: 10px 50px;
}

.form__btn_signup {
    background-color: rgba(20, 20, 40);
}

.form__forgot {
    color: #333;
}

.menu-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #F7CE9D;
}

.menu-left__items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.menu-right {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #F7CE9D;
}
.cabinet {
    position: relative;
}
.work-area {
    padding-top: 60px;
    display: flex;
    margin-left: 320px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* карточки */
.card-item {
    width: 200px;
    height: 266px;
}

.catalog-card_effect {
    opacity: 1;
}

.btn-black {
    width: 150px;
    margin: 5px 0;
    background-color: black;
    color: #ffffff;
    border-radius: 10px;

}
.catalog-card_effect:hover .edit-card{
    display: flex;
}
.edit-card {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
}

.delete-card {
    position: absolute;
    top: 35%;
    z-index: 9;
    width: 80%;
    height: 30%;
    background-color: #ffffff;
    color: black;

}

.edit-contacts__form {
    display: flex;
    flex-direction: column;
    background-color: #F7CE9D;
    
}

.edit-tour {
    background-color: #F7CE9D;
    width: 90%;
    height: 800px;
}

.edit-tour form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#img-carousel_ {
    width: 500px;
}

.img-carousel-item {
    position: relative;
    margin-bottom: 10px;
}

.delete-img-carousel {

    position: absolute;
    top: 0;
    left:100px;
    width: 300px;
    height: 70px;
    background-color: #ffffff;
    color: black;
}
.delete-true {
    color: red;
}

