/* ---------------------- LOGIN ------------------------ */

.mainBlock {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    transition: 0.5s;
}

.mainBlock.active {
    background-color: #F6f6f6;
}


.container {
    width: 800px;
    height: 500px;
    padding: 40px 0;
    position: relative;
}

/* Внутренний блок */

.block {
    height: 100%;

    box-shadow: 0 5px 45px rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.block-item {
    width: 50%;
}

.block-item {
    text-align: center;
}

.block-item__title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.block-item__btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #fff;
    color: rgb(80, 80, 80);
    font-size: 16px;
    font-weight: 500;
}
.block-item__btn:hover {
    background-color: #6e6e6e;
    color: #fff;
}
/* Блок формы */

.form-box {
    background-color: #fff;
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 45px rgba (0, 0, 0, 0.25);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    transition: 0.5s ease-in-out;

    display: flex;
    align-items: center;

    overflow: hidden;
}

.form-box.active {
    left: 50%;
}

/* Форма */

.form {
    width: 100%;
    padding: 50px;
    font-size: 16px;

    position: absolute;
    transition: 0.5s;
}

.form_signin {
    left: 0;
    transition-delay: 0.25s;
}

.form_signup {
    left: 100%;
    transition-delay: 0s;
}

.form-box.active .form_signin {
    left: -100%;
    transition-delay: 0s;
}

.form-box.active .form_signup {
    left: 0;
    transition-delay: 0.25s;
}

.form__orderInner {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(80, 80, 80);
    margin-left: 8px;
}

.form__input {
    width: 100%;
    padding: 10px;
    border: solid #F5F5F5 1px;
    font-size: inherit;
}

.form__btn {
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: rgb(80, 80, 80);
    color: #fff;
    padding: 10px 50px;
}

.form__btn_signup, .form__btn {
    background-color: #5bcfc5;
    margin-left: 8px;
    border-radius: 10px;
}
.form__btn_signup:hover, .form__btn:hover {
    background-color: #49a69e;
}
.form__forgot {
    color: rgb(80, 80, 80);
}
